.About{
  padding: 0;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-align: justify;
}


.CardContentA p {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
}

.ContentAbout {
  padding: 4%;
}
