/* line 1, ../sass/box.scss */
.box {
  left: 50%;
  height: 720px;
  width: 405px;
  position: absolute;
  margin-left: -360px;
  background-color: white;
}

/* line 9, ../sass/box.scss */
.TextExplanation {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-shadow: 1px 1px #000;
  flex-direction: column;
  line-height: 2em;
  font-size: 1.3em;
  font-weight: lighter;
}

/* line 23, ../sass/box.scss */
.LogosCredibility {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20%;
}

/* line 32, ../sass/box.scss */
.BoxText {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 40, ../sass/box.scss */
.BoxSearch {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  align-items: center;
}

/* line 49, ../sass/box.scss */
.NavSearch {
  width: 60%;
  height: 57%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 56, ../sass/box.scss */
.Tag {
  width: 24.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 64, ../sass/box.scss */
.TagTitle {
  width: 100%;
  height: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
}

/* line 75, ../sass/box.scss */
.TagContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  color: black;
  visibility: hidden;
  height: 75%;
  width: 100%;
  background-color: white;
}

/* line 87, ../sass/box.scss */
.Box {
  width: 60%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

/* line 97, ../sass/box.scss */
.Tag:hover .TagContent {
  visibility: visible;
}

/* line 100, ../sass/box.scss */
.TitleSearch {
  width: 60%;
  height: 20%;
  font-family: 'Lato', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #000;
}

/* line 111, ../sass/box.scss */
.BoxTextTitle {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 118, ../sass/box.scss */
.BoxDown {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 125, ../sass/box.scss */
.BoxInput {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* line 134, ../sass/box.scss */
.Input {
  height: 89%;
  width: 80%;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  font-size: 1.2em;
}

/* line 145, ../sass/box.scss */
.FunctionTitle {
  width: 100%;
  height: 30%;
  display: flex;
  color: white;
  text-shadow: 1px 1px black;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px #000;
}

/* line 158, ../sass/box.scss */
.FunctionContent {
  width: 95%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* line 165, ../sass/box.scss */
.BoxFunction {
  height: 50%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 174, ../sass/box.scss */
.BoxIcon {
  height: 50%;
  width: 40%;
  color: white;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  align-items: center;
}

/* line 185, ../sass/box.scss */
.BoxText {
  height: 50%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  text-align: center;
  color: white;
}

/* line 198, ../sass/box.scss */
.AboutTitle {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  font-family: 'Lato', sans-serif;
  color: black;
  text-shadow: 1px 1px #000;
}

/* line 210, ../sass/box.scss */
.AboutText {
  width: 60%;
  height: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: justify;
  line-height: 1.7em;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  color: black;
}

/* line 222, ../sass/box.scss */
.CheckBox {
  width: 80%;
  height: 12%;
  display: flex;
  justify-content: flex-start;
  margin: 2px;
}
