/* line 3, ../sass/Box.scss */
.ContentAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 65%;
}

/* line 8, ../sass/Box.scss */
.TextExplanation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-shadow: 1px 1px #000;
  line-height: 2em;
  font-size: 1.3em;
  font-weight: lighter;
}

/* line 19, ../sass/Box.scss */
.LogosCredibility {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 99%;
  height: 30%;
}

/* line 24, ../sass/Box.scss */
.BoxText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
  text-align: center;
  color: white;
}

/* line 34, ../sass/Box.scss */
.BoxSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 40, ../sass/Box.scss */
.TitleSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 20%;
  font-family: 'Lato', sans-serif;
  color: white;
  text-shadow: 1px 1px #000;
}

/* line 48, ../sass/Box.scss */
.BoxHowItWorks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}

/* line 53, ../sass/Box.scss */
.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 40%;
  color: white;
  background-color: white;
  border-radius: 100%;
}

/* line 61, ../sass/Box.scss */
.ContentHowItWorks {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 98%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

/* line 68, ../sass/Box.scss */
.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  text-align: center;
}

/* line 74, ../sass/Box.scss */
.CardContentF {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 75%;
  width: 98%;
}

/* line 79, ../sass/Box.scss */
.Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 5%;
  color: white;
}

/* line 85, ../sass/Box.scss */
.Text {
  height: 55%;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* line 91, ../sass/Box.scss */
.ContentSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
  width: 98%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
}

/* line 100, ../sass/Box.scss */
.Tag {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 7vh;
  cursor: pointer;
}

/* line 106, ../sass/Box.scss */
.TagTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
}

/* line 114, ../sass/Box.scss */
.NavSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 60%;
}

/* line 119, ../sass/Box.scss */
.BoxTextTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 85%;
}

/* line 125, ../sass/Box.scss */
.FormSearch {
  display: flex;
  align-items: center;
  flex-direction: columns;
  justify-content: center;
  align-content: space-between;
  width: 85%;
}

/* line 131, ../sass/Box.scss */
.InputGroup {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 6vh;
}
