/* line 5, ../sass/Box.scss */
.ContentAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 65%;
}

/* line 10, ../sass/Box.scss */
.LogosCredibility {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  height: 30%;
  width: 99%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 10, ../sass/Box.scss */
  .LogosCredibility {
    align-items: inherit;
  }
}

/* line 17, ../sass/Box.scss */
.BoxText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
  text-align: center;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 17, ../sass/Box.scss */
  .BoxText {
    font-size: 0.85em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 17, ../sass/Box.scss */
  .BoxText {
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
    margin: 1vh 0;
  }
}
@media (max-width: 499px) {
  /* line 17, ../sass/Box.scss */
  .BoxText {
    width: 90%;
    font-size: 0.7em;
  }
}

/* line 39, ../sass/Box.scss */
.BoxSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 45, ../sass/Box.scss */
.TitleSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 60%;
  font-family: Lato, sans-serif;
  color: white;
  text-shadow: 1px 1px #000;
}
@media (max-width: 499px) {
  /* line 45, ../sass/Box.scss */
  .TitleSearch {
    text-align: center;
    margin-top: 3%;
  }
}

/* line 57, ../sass/Box.scss */
.BoxHowItWorks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 57, ../sass/Box.scss */
  .BoxHowItWorks {
    height: 80%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 57, ../sass/Box.scss */
  .BoxHowItWorks {
    height: 60%;
    width: 80%;
  }
}
@media (max-width: 499px) {
  /* line 57, ../sass/Box.scss */
  .BoxHowItWorks {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

/* line 72, ../sass/Box.scss */
.BowFlowHowItWorks {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 98%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (max-width: 499px) {
  /* line 72, ../sass/Box.scss */
  .BowFlowHowItWorks {
    height: 70%;
  }
}

/* line 82, ../sass/Box.scss */
.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
  text-align: center;
}

/* line 88, ../sass/Box.scss */
.BoxCardContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 75%;
  width: 98%;
}
@media (max-width: 499px) {
  /* line 88, ../sass/Box.scss */
  .BoxCardContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}

/* line 97, ../sass/Box.scss */
.ContentSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  min-height: 25vh;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 97, ../sass/Box.scss */
  .ContentSearch {
    min-height: 20vh;
  }
}
@media (max-width: 499px) {
  /* line 97, ../sass/Box.scss */
  .ContentSearch {
    min-height: 18vh;
  }
}

/* line 112, ../sass/Box.scss */
.NavSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
  width: 60%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 112, ../sass/Box.scss */
  .NavSearch {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
@media (max-width: 499px) {
  /* line 112, ../sass/Box.scss */
  .NavSearch {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
}

/* line 125, ../sass/Box.scss */
.BoxTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 85%;
}

/* line 130, ../sass/Box.scss */
.BoxFilterBy {
  width: 30%;
  z-index: 2;
}

/* line 134, ../sass/Box.scss */
.BoxClear {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* line 139, ../sass/Box.scss */
.BoxTextArea {
  width: 100%;
}
