/* line 5, ../sass/Box.scss */
.ContentAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 65%;
}

/* line 9, ../sass/Box.scss */
.TextExplanation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 100%;
  font-family: Lato, sans-serif;
  color: white;
  text-shadow: 1px 1px #000;
  line-height: 2em;
  font-size: 1.3em;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 9, ../sass/Box.scss */
  .TextExplanation {
    font-size: 1.4em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 9, ../sass/Box.scss */
  .TextExplanation {
    font-size: 1.3em;
  }
}
@media (max-width: 499px) {
  /* line 9, ../sass/Box.scss */
  .TextExplanation {
    font-size: 1.2em;
  }
}

/* line 30, ../sass/Box.scss */
.LogosCredibility {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  height: 30%;
  width: 99%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 30, ../sass/Box.scss */
  .LogosCredibility {
    align-items: inherit;
  }
}

/* line 37, ../sass/Box.scss */
.BoxText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
  text-align: center;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 37, ../sass/Box.scss */
  .BoxText {
    font-size: 0.85em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 37, ../sass/Box.scss */
  .BoxText {
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
    margin: 1vh 0;
  }
}
@media (max-width: 499px) {
  /* line 37, ../sass/Box.scss */
  .BoxText {
    width: 90%;
    font-size: 0.7em;
  }
}

/* line 59, ../sass/Box.scss */
.BoxSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 65, ../sass/Box.scss */
.TitleSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 60%;
  font-family: Lato, sans-serif;
  color: white;
  text-shadow: 1px 1px #000;
}
@media (max-width: 499px) {
  /* line 65, ../sass/Box.scss */
  .TitleSearch {
    text-align: center;
    margin-top: 3%;
  }
}

/* line 77, ../sass/Box.scss */
.BoxHowItWorks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 77, ../sass/Box.scss */
  .BoxHowItWorks {
    height: 80%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 77, ../sass/Box.scss */
  .BoxHowItWorks {
    height: 60%;
    width: 80%;
  }
}
@media (max-width: 499px) {
  /* line 77, ../sass/Box.scss */
  .BoxHowItWorks {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

/* line 92, ../sass/Box.scss */
.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 40%;
  color: white;
  background-color: white;
  border-radius: 100%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 92, ../sass/Box.scss */
  .Icon {
    height: 50%;
    width: 50%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 92, ../sass/Box.scss */
  .Icon {
    height: 53%;
    width: 60%;
  }
}
@media (max-width: 499px) {
  /* line 92, ../sass/Box.scss */
  .Icon {
    height: 16vh;
    width: 12vw;
  }
}

/* line 111, ../sass/Box.scss */
.ContentHowItWorks {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 98%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (max-width: 499px) {
  /* line 111, ../sass/Box.scss */
  .ContentHowItWorks {
    height: 70%;
  }
}

/* line 121, ../sass/Box.scss */
.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
  text-align: center;
}

/* line 127, ../sass/Box.scss */
.CardContentF {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 75%;
  width: 98%;
}
@media (max-width: 499px) {
  /* line 127, ../sass/Box.scss */
  .CardContentF {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}

/* line 136, ../sass/Box.scss */
.Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 5%;
  color: white;
}

/* line 142, ../sass/Box.scss */
.Text {
  height: 55%;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* line 149, ../sass/Box.scss */
.ContentSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  min-height: 25vh;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 149, ../sass/Box.scss */
  .ContentSearch {
    min-height: 20vh;
  }
}

/* line 161, ../sass/Box.scss */
.Tag {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 7vh;
  width: 40%;
  cursor: pointer;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 161, ../sass/Box.scss */
  .Tag {
    width: 100%;
    margin-bottom: 2%;
  }
}
@media (max-width: 499px) {
  /* line 161, ../sass/Box.scss */
  .Tag {
    width: 100%;
    margin-bottom: 3%;
  }
}

/* line 175, ../sass/Box.scss */
.TagTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  font-family: Lato, sans-serif;
}

/* line 182, ../sass/Box.scss */
.NavSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
  width: 60%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 182, ../sass/Box.scss */
  .NavSearch {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
@media (max-width: 499px) {
  /* line 182, ../sass/Box.scss */
  .NavSearch {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
}

/* line 195, ../sass/Box.scss */
.BoxTextTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 85%;
}

/* line 200, ../sass/Box.scss */
.FormSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  align-content: space-between;
}
@media (max-width: 499px) {
  /* line 200, ../sass/Box.scss */
  .FormSearch {
    width: 100%;
  }
}

/* line 209, ../sass/Box.scss */
.InputGroup {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 75%;
}
@media (max-width: 499px) {
  /* line 209, ../sass/Box.scss */
  .InputGroup {
    height: 7vh;
    width: 95%;
    display: flex;
    flex-direction: row;
  }
}

/* line 218, ../sass/Box.scss */
.BoxFilterBy {
  width: 30%;
  z-index: 2;
}

/* line 222, ../sass/Box.scss */
.BoxClear {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* line 227, ../sass/Box.scss */
.BoxTextArea {
  width: 100%;
}
