/* line 3, ../sass/Button.scss */
.Button {
  display: flex;
  background-color: #3771c8;
  height: 100%;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  outline: 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 3, ../sass/Button.scss */
  .Button {
    font-size: 0.8rem;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 3, ../sass/Button.scss */
  .Button {
    font-size: 0.75rem;
    width: 10%;
    justify-content: center;
  }
}

/* line 29, ../sass/Button.scss */
.Button:hover {
  box-shadow: 1px 1px 1px 1px #6BB9F0;
  cursor: pointer;
}

/* line 33, ../sass/Button.scss */
.Button a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
