@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../sass/Card.scss */
.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  min-height: 45%;
  background: white;
  border-radius: 1%;
  margin-bottom: 2%;
  font-family: Lane;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}
@media (max-width: 499px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 0.7em;
  }
}
/* line 26, ../sass/Card.scss */
.Card.is-login {
  height: 60vh;
  background: rgba(255, 255, 255, 0.72);
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 26, ../sass/Card.scss */
  .Card.is-login {
    width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 26, ../sass/Card.scss */
  .Card.is-login {
    width: 80%;
  }
}
@media (max-width: 499px) {
  /* line 26, ../sass/Card.scss */
  .Card.is-login {
    height: 57vh;
    width: 90%;
  }
}
/* line 40, ../sass/Card.scss */
.Card.is-secondary {
  width: 95%;
  border-top: 1px solid rgba(193, 193, 193, 0.45);
  padding: 1%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 50, ../sass/Card.scss */
.CardNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 20%;
  font-family: Lane;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 50, ../sass/Card.scss */
  .CardNav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 50, ../sass/Card.scss */
  .CardNav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
/* line 62, ../sass/Card.scss */
.CardNav.is-center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 62, ../sass/Card.scss */
  .CardNav.is-center {
    width: 90%;
  }
}
@media (max-width: 499px) {
  /* line 62, ../sass/Card.scss */
  .CardNav.is-center {
    width: 90%;
  }
}
