/* line 1, ../sass/card.scss */
body {
  background: #e0e0e0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* line 7, ../sass/card.scss */
.Card {
  background: #fff;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  min-height: 35vh;
  margin-bottom: 2%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

/* line 25, ../sass/card.scss */
.CardCenter {
  background: #fff;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  min-height: 66vh;
  margin-bottom: 3%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

/* line 39, ../sass/card.scss */
.Subitems {
  width: 85%;
  margin-top: 2%;
  display: none;
  list-style: none;
  line-height: 1.8em;
  font-size: 0.8em;
  text-align: left;
  margin: 0;
  box-shadow: 2px 3px 1px 1px rgba(48, 91, 159, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 52, ../sass/card.scss */
.Items {
  width: 40%;
  display: flex;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  cursor: pointer;
}

/* line 63, ../sass/card.scss */
.CompetenceList {
  display: flex;
  width: 100%;
  height: 95%;
  text-align: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 74, ../sass/card.scss */
.CompetencesTitle {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* line 83, ../sass/card.scss */
.ContactTitle {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* line 92, ../sass/card.scss */
.SectionCards {
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

/* line 103, ../sass/card.scss */
.SectionCardsHome {
  padding: 0;
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

/* line 114, ../sass/card.scss */
.CompanyName {
  width: 100%;
  height: 10%;
  text-align: center;
}

/* line 121, ../sass/card.scss */
.CenterName {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom: 3%;
}

/* line 128, ../sass/card.scss */
.CompanyDescription {
  width: 90%;
  height: 30%;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8em;
}

/* line 136, ../sass/card.scss */
.CenterTheme {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

/* line 143, ../sass/card.scss */
.ItemTheme {
  width: 50%;
  height: 100%;
  margin: 2%;
  word-wrap: break-word;
}

/* line 151, ../sass/card.scss */
.CompanyCompetences {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

/* line 159, ../sass/card.scss */
.SectionSearch {
  padding: 0;
  width: 100%;
  min-height: 39vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

/* line 170, ../sass/card.scss */
.ContentSearch {
  min-height: 25vh;
  margin-bottom: 2%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
}

/* line 184, ../sass/card.scss */
.radioButton {
  margin-left: 30px;
  margin-bottom: 10px;
}

/* line 189, ../sass/card.scss */
.form-search {
  /*background: red;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 85%;
}

/* line 199, ../sass/card.scss */
.input-group {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 4vh;
}

/* line 206, ../sass/card.scss */
.input-group-btn {
  width: 23%;
  z-index: 99;
}

/* line 211, ../sass/card.scss */
.btn-filter {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

/* line 220, ../sass/card.scss */
.btn-filter-activated {
  border-radius: 4px 0 0 0;
}

/* line 224, ../sass/card.scss */
.inputBusca {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  padding-left: 2%;
  width: 60%;
}

/* line 231, ../sass/card.scss */
.btn-search {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  cursor: pointer;
  padding: 0 2%;
  border-radius: 0 4px 4px 0;
}

/* line 239, ../sass/card.scss */
.btn-search:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* line 242, ../sass/card.scss */
.dropdown-menu {
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 4px 4px;
  background-color: white;
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  opacity: 0;
  transition: 1s;
}

/* line 256, ../sass/card.scss */
input, .btn-filter, .btn-search {
  outline: none;
}

/* line 260, ../sass/card.scss */
.dropdown-menu-visible {
  opacity: 1;
  transition: .5s;
}

/* line 269, ../sass/card.scss */
.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

/* line 275, ../sass/card.scss */
.dropdown-menu li:hover {
  background: rgba(0, 0, 0, 0.1);
}
