/* line 5, ../sass/Card.scss */
.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  min-height: 45%;
  background: white;
  border-radius: 1%;
  margin-bottom: 2%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}
@media (max-width: 499px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 0.7em;
  }
}
/* line 25, ../sass/Card.scss */
.Card.is-login {
  height: 60vh;
  background: rgba(255, 255, 255, 0.72);
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 25, ../sass/Card.scss */
  .Card.is-login {
    width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 25, ../sass/Card.scss */
  .Card.is-login {
    width: 80%;
  }
}
@media (max-width: 499px) {
  /* line 25, ../sass/Card.scss */
  .Card.is-login {
    height: 300px;
    width: 90%;
  }
}

/* line 40, ../sass/Card.scss */
.InstitutionList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  background: white;
  border-radius: 1%;
  margin-bottom: 2%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 40, ../sass/Card.scss */
  .InstitutionList {
    width: 40%;
    padding: 2%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 40, ../sass/Card.scss */
  .InstitutionList {
    width: 90%;
    padding: 2%;
  }
}
@media (max-width: 499px) {
  /* line 40, ../sass/Card.scss */
  .InstitutionList {
    width: 90%;
    padding: 2%;
  }
}

/* line 62, ../sass/Card.scss */
.ContentCardList {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 62, ../sass/Card.scss */
  .ContentCardList {
    flex-direction: column;
  }
}
@media (max-width: 499px) {
  /* line 62, ../sass/Card.scss */
  .ContentCardList {
    flex-direction: column;
  }
}

/* line 76, ../sass/Card.scss */
.CardNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 20%;
  font-family: Lato, sans-serif;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 76, ../sass/Card.scss */
  .CardNav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 76, ../sass/Card.scss */
  .CardNav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
/* line 88, ../sass/Card.scss */
.CardNav.is-center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 88, ../sass/Card.scss */
  .CardNav.is-center {
    width: 90%;
  }
}
@media (max-width: 499px) {
  /* line 88, ../sass/Card.scss */
  .CardNav.is-center {
    width: 90%;
  }
}

/* line 101, ../sass/Card.scss */
.Subitems {
  width: 100%;
  display: none;
  flex-direction: column;
  list-style: none;
  line-height: 2em;
  font-size: 0.7em;
  text-align: center;
  background-color: white;
  padding: 0;
  justify-content: space-around;
}
/* line 112, ../sass/Card.scss */
.Subitems li {
  display: flex;
  justify-content: flex-start;
  margin-left: 8.5%;
}
/* line 116, ../sass/Card.scss */
.Subitems.Open {
  display: flex;
}
@media (max-width: 499px) {
  /* line 101, ../sass/Card.scss */
  .Subitems {
    font-size: 1.3em;
  }
}

/* line 124, ../sass/Card.scss */
.Items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  line-height: 2em;
  cursor: pointer;
  align-self: center;
}
/* line 130, ../sass/Card.scss */
.Items:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: .5s;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 124, ../sass/Card.scss */
  .Items {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 124, ../sass/Card.scss */
  .Items {
    width: 100%;
  }
}
@media (max-width: 499px) {
  /* line 124, ../sass/Card.scss */
  .Items {
    width: 100%;
    font-size: 1.3em;
  }
}

/* line 146, ../sass/Card.scss */
.ItemsFeatured {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 58%;
  line-height: 2em;
  align-self: center;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 146, ../sass/Card.scss */
  .ItemsFeatured {
    width: 75%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 146, ../sass/Card.scss */
  .ItemsFeatured {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 1px 1px rgba(234, 230, 230, 0.3);
  }
}
@media (max-width: 499px) {
  /* line 146, ../sass/Card.scss */
  .ItemsFeatured {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 1px 1px rgba(234, 230, 230, 0.3);
    line-height: 5em;
  }
}

/* line 165, ../sass/Card.scss */
.CompetenceList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
  width: 100%;
  text-align: left;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 165, ../sass/Card.scss */
  .CompetenceList {
    width: 90%;
  }
}

/* line 175, ../sass/Card.scss */
.ItemText {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  text-align: right;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 175, ../sass/Card.scss */
  .ItemText {
    width: 68%;
    text-align: left;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 175, ../sass/Card.scss */
  .ItemText {
    width: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 175, ../sass/Card.scss */
  .ItemText {
    width: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
  }
}
/* line 198, ../sass/Card.scss */
.ItemText.is-segment {
  display: flex;
  justify-content: center;
}

/* line 203, ../sass/Card.scss */
.ItemStar {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 203, ../sass/Card.scss */
  .ItemStar {
    width: 32%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 203, ../sass/Card.scss */
  .ItemStar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 203, ../sass/Card.scss */
  .ItemStar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}

/* line 219, ../sass/Card.scss */
.CompanyDeion {
  display: flex;
  height: 30%;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  line-height: 1.8em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 219, ../sass/Card.scss */
  .CompanyDeion {
    width: 90%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 219, ../sass/Card.scss */
  .CompanyDeion {
    width: 90%;
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 219, ../sass/Card.scss */
  .CompanyDeion {
    width: 90%;
    font-size: 0.7em;
  }
}

/* line 238, ../sass/Card.scss */
.RatingExplanation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 238, ../sass/Card.scss */
  .RatingExplanation {
    height: 30%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 238, ../sass/Card.scss */
  .RatingExplanation {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
  }
}
@media (max-width: 499px) {
  /* line 238, ../sass/Card.scss */
  .RatingExplanation {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
  }
}

/* line 259, ../sass/Card.scss */
.CompanyCompetences {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  margin-top: 3%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 259, ../sass/Card.scss */
  .CompanyCompetences {
    width: 90%;
    font-size: 1.3em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 259, ../sass/Card.scss */
  .CompanyCompetences {
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 259, ../sass/Card.scss */
  .CompanyCompetences {
    font-size: 0.7em;
  }
}

/* line 275, ../sass/Card.scss */
.CardSecondary {
  border-top: 1px solid rgba(193, 193, 193, 0.45);
  padding: 1%;
  display: none;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 275, ../sass/Card.scss */
  .CardSecondary {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 275, ../sass/Card.scss */
  .CardSecondary {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 275, ../sass/Card.scss */
  .CardSecondary {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* line 296, ../sass/Card.scss */
.InstitutionList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2%;
}

/* line 302, ../sass/Card.scss */
.InstitutionListHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 307, ../sass/Card.scss */
.RegisterListHeader {
  width: 94%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
}

/* line 313, ../sass/Card.scss */
.RegisterListItem {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

/* line 318, ../sass/Card.scss */
.LeftItem {
  width: 75%;
  text-align: left;
}

/* line 323, ../sass/Card.scss */
.RightItem {
  width: 25%;
  text-align: center;
}
