/* line 5, ../sass/Card.scss */
.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  min-height: 45%;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 2%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}
@media (max-width: 499px) {
  /* line 5, ../sass/Card.scss */
  .Card {
    width: 95%;
    min-height: 55%;
    font-size: 1.7em;
  }
}

/* line 28, ../sass/Card.scss */
.CardLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 48%;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 2%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 28, ../sass/Card.scss */
  .CardLogin {
    width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 28, ../sass/Card.scss */
  .CardLogin {
    width: 80%;
  }
}
@media (max-width: 499px) {
  /* line 28, ../sass/Card.scss */
  .CardLogin {
    height: 300px;
    width: 90%;
  }
}

/* line 48, ../sass/Card.scss */
.CardList, .InstitutionList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 2%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 48, ../sass/Card.scss */
  .CardList, .InstitutionList {
    width: 40%;
    padding: 2%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 48, ../sass/Card.scss */
  .CardList, .InstitutionList {
    width: 90%;
    padding: 2%;
  }
}
@media (max-width: 499px) {
  /* line 48, ../sass/Card.scss */
  .CardList, .InstitutionList {
    width: 90%;
    padding: 2%;
  }
}

/* line 72, ../sass/Card.scss */
.ContentCardList {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 72, ../sass/Card.scss */
  .ContentCardList {
    flex-direction: column;
  }
}
@media (max-width: 499px) {
  /* line 72, ../sass/Card.scss */
  .ContentCardList {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1190px) {
  /* line 86, ../sass/Card.scss */
  .LogoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 86, ../sass/Card.scss */
  .LogoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 86, ../sass/Card.scss */
  .LogoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* line 101, ../sass/Card.scss */
.CardNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 20%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 101, ../sass/Card.scss */
  .CardNav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 101, ../sass/Card.scss */
  .CardNav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* line 114, ../sass/Card.scss */
.CardResearchNav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 20%;
  font-family: Lato, sans-serif;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 114, ../sass/Card.scss */
  .CardResearchNav {
    width: 90%;
    font-size: 0.7em;
    text-align: center;
  }
}
@media (max-width: 499px) {
  /* line 114, ../sass/Card.scss */
  .CardResearchNav {
    width: 90%;
    font-size: 0.7em;
    text-align: center;
  }
}

/* line 132, ../sass/Card.scss */
.CardLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

/* line 137, ../sass/Card.scss */
.CardTitle {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
  font-size: 1.3em;
}

/* line 143, ../sass/Card.scss */
.LogoImage {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

/* line 148, ../sass/Card.scss */
.LogoSmall {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 10px;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 148, ../sass/Card.scss */
  .LogoSmall {
    height: 100px;
  }
}

/* line 158, ../sass/Card.scss */
.CardCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  min-height: 66vh;
  background: white;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 3%;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}

/* line 168, ../sass/Card.scss */
.Subitems {
  width: 100%;
  display: none;
  flex-direction: column;
  list-style: none;
  line-height: 2em;
  font-size: 0.7em;
  text-align: center;
  background-color: white;
  padding: 0;
  justify-content: space-around;
}
/* line 179, ../sass/Card.scss */
.Subitems li {
  display: flex;
  justify-content: flex-start;
  margin-left: 8.5%;
}
/* line 183, ../sass/Card.scss */
.Subitems.Open {
  display: flex;
}

/* line 188, ../sass/Card.scss */
.Items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  line-height: 2em;
  cursor: pointer;
  align-self: center;
}
/* line 194, ../sass/Card.scss */
.Items:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: .5s;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 188, ../sass/Card.scss */
  .Items {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 188, ../sass/Card.scss */
  .Items {
    width: 100%;
  }
}
@media (max-width: 499px) {
  /* line 188, ../sass/Card.scss */
  .Items {
    width: 100%;
  }
}

/* line 210, ../sass/Card.scss */
.ItemsFeatured {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  line-height: 2em;
  align-self: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 210, ../sass/Card.scss */
  .ItemsFeatured {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 1px 1px rgba(234, 230, 230, 0.3);
  }
}
@media (max-width: 499px) {
  /* line 210, ../sass/Card.scss */
  .ItemsFeatured {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 1px 1px rgba(234, 230, 230, 0.3);
  }
}

/* line 225, ../sass/Card.scss */
.Items:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: .5s;
}

/* line 230, ../sass/Card.scss */
.CompetenceList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
  width: 100%;
  text-align: left;
  padding: 0;
}

/* line 237, ../sass/Card.scss */
.CompetencesTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 5%;
  width: 100%;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.3em;
}

/* line 245, ../sass/Card.scss */
.ItemText {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  text-align: right;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 245, ../sass/Card.scss */
  .ItemText {
    width: 68%;
    text-align: left;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 245, ../sass/Card.scss */
  .ItemText {
    width: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 245, ../sass/Card.scss */
  .ItemText {
    width: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
  }
}

/* line 270, ../sass/Card.scss */
.ItemTextSegment {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
}

/* line 275, ../sass/Card.scss */
.ItemStar {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 275, ../sass/Card.scss */
  .ItemStar {
    width: 32%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 275, ../sass/Card.scss */
  .ItemStar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 275, ../sass/Card.scss */
  .ItemStar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* line 291, ../sass/Card.scss */
.ContactTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 5%;
  width: 100%;
}

/* line 296, ../sass/Card.scss */
.CompanyName {
  height: 10%;
  width: 100%;
  text-align: center;
}

/* line 301, ../sass/Card.scss */
.CenterName {
  height: 10%;
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}

/* line 307, ../sass/Card.scss */
.CompanyDescription {
  display: flex;
  height: 30%;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  line-height: 1.8em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 307, ../sass/Card.scss */
  .CompanyDescription {
    width: 90%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 307, ../sass/Card.scss */
  .CompanyDescription {
    width: 90%;
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 307, ../sass/Card.scss */
  .CompanyDescription {
    width: 90%;
    font-size: 0.7em;
  }
}

/* line 326, ../sass/Card.scss */
.CenterTheme {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

/* line 331, ../sass/Card.scss */
.ItemTheme {
  height: 100%;
  width: 50%;
  margin: 2%;
  word-wrap: break-word;
}

/* line 337, ../sass/Card.scss */
.FooterCardPrimay {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 60px;
  border-top: 1px solid rgba(193, 193, 193, 0.45);
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 337, ../sass/Card.scss */
  .FooterCardPrimay {
    flex-direction: column;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 337, ../sass/Card.scss */
  .FooterCardPrimay {
    flex-direction: row;
  }
}
@media (max-width: 499px) {
  /* line 337, ../sass/Card.scss */
  .FooterCardPrimay {
    flex-direction: column;
  }
}

/* line 353, ../sass/Card.scss */
.RatingExplanation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  margin: 20px;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 353, ../sass/Card.scss */
  .RatingExplanation {
    height: 30%;
    width: 97%;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 353, ../sass/Card.scss */
  .RatingExplanation {
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
@media (max-width: 499px) {
  /* line 353, ../sass/Card.scss */
  .RatingExplanation {
    height: 30%;
    width: 90%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}

/* line 377, ../sass/Card.scss */
.BoxButtonCard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
  width: 60%;
}

/* line 382, ../sass/Card.scss */
.BoxButtonMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
  width: 60%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 382, ../sass/Card.scss */
  .BoxButtonMessage {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    flex-direction: row;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 382, ../sass/Card.scss */
  .BoxButtonMessage {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
  }
}
@media (max-width: 499px) {
  /* line 382, ../sass/Card.scss */
  .BoxButtonMessage {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
  }
}

/* line 408, ../sass/Card.scss */
.BoxButtonMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 40%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 408, ../sass/Card.scss */
  .BoxButtonMessage {
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 408, ../sass/Card.scss */
  .BoxButtonMessage {
    height: 80%;
    width: 100%;
    flex-direction: row;
  }
}
@media (max-width: 499px) {
  /* line 408, ../sass/Card.scss */
  .BoxButtonMessage {
    height: 100%;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* line 429, ../sass/Card.scss */
.BoxButtonMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 40%;
}

/* line 434, ../sass/Card.scss */
.CompanyCompetences {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  margin-top: 3%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 434, ../sass/Card.scss */
  .CompanyCompetences {
    width: 90%;
    font-size: 1.3em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 434, ../sass/Card.scss */
  .CompanyCompetences {
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 434, ../sass/Card.scss */
  .CompanyCompetences {
    font-size: 0.7em;
  }
}

/* line 450, ../sass/Card.scss */
.ResearchCompetences {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  margin-top: 3%;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 450, ../sass/Card.scss */
  .ResearchCompetences {
    font-size: 0.7em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 499px) {
  /* line 450, ../sass/Card.scss */
  .ResearchCompetences {
    font-size: 0.7em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* line 469, ../sass/Card.scss */
.CardSecondary {
  border-top: 1px solid rgba(193, 193, 193, 0.45);
  padding: 1%;
  display: none;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 469, ../sass/Card.scss */
  .CardSecondary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 469, ../sass/Card.scss */
  .CardSecondary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 469, ../sass/Card.scss */
  .CardSecondary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* line 484, ../sass/Card.scss */
.FooterCardSecondary {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 60px;
  border-top: 1px solid rgba(193, 193, 193, 0.45);
  flex-wrap: wrap;
  padding-top: 3%;
  margin-bottom: 3%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 484, ../sass/Card.scss */
  .FooterCardSecondary {
    min-height: 146px;
    flex-direction: column;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 484, ../sass/Card.scss */
  .FooterCardSecondary {
    min-height: 140px;
    flex-direction: column;
  }
}
@media (max-width: 499px) {
  /* line 484, ../sass/Card.scss */
  .FooterCardSecondary {
    min-height: 140px;
    flex-direction: column;
  }
}

/* line 505, ../sass/Card.scss */
.FooterCardSecondaryItem {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 505, ../sass/Card.scss */
  .FooterCardSecondaryItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 505, ../sass/Card.scss */
  .FooterCardSecondaryItem {
    font-size: 13px;
  }
}
@media (max-width: 499px) {
  /* line 505, ../sass/Card.scss */
  .FooterCardSecondaryItem {
    font-size: 13px;
    flex-wrap: wrap;
  }
}

/* line 520, ../sass/Card.scss */
.InstitutionList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2%;
}

/* line 526, ../sass/Card.scss */
.InstitutionListHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 531, ../sass/Card.scss */
.RegisterListHeader {
  width: 94%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
}

/* line 537, ../sass/Card.scss */
.RegisterListItem {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

/* line 542, ../sass/Card.scss */
.InstitutionList .Title {
  background: red;
  height: 5vh;
  width: 20%;
}

/* line 547, ../sass/Card.scss */
.InstitutionList .LeftItem {
  width: 75%;
  text-align: left;
}

/* line 552, ../sass/Card.scss */
.InstitutionList .RightItem {
  width: 25%;
  text-align: center;
}
