/* line 3, ../sass/Default.scss */
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

/* line 9, ../sass/Default.scss */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* line 24, ../sass/Default.scss */
.material-icons.md-3 {
  font-size: 3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 24, ../sass/Default.scss */
  .material-icons.md-3 {
    font-size: 2.3em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 24, ../sass/Default.scss */
  .material-icons.md-3 {
    font-size: 2.5em;
  }
}
@media (max-width: 499px) {
  /* line 24, ../sass/Default.scss */
  .material-icons.md-3 {
    font-size: 1em;
  }
}

/* line 37, ../sass/Default.scss */
.material-icons.md-1-4 {
  font-size: 1.4em;
}
