/* line 3, ../sass/Default.scss */
body {
  margin: 0;
  padding: 0;
}
@media (max-width: 499px) {
  /* line 3, ../sass/Default.scss */
  body {
    padding: 0;
    margin: 0;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-3 {
  font-size: 3em;
}

/* line 35, ../sass/Default.scss */
.material-icons.md-hamburger {
  font-size: 3em;
}
@media (max-width: 499px) {
  /* line 35, ../sass/Default.scss */
  .material-icons.md-hamburger {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1190px) {
  /* line 41, ../sass/Default.scss */
  .material-icons.md-35px {
    font-size: 35px;
  }
}
@media (max-width: 499px) {
  /* line 41, ../sass/Default.scss */
  .material-icons.md-35px {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 28, ../sass/Default.scss */
  .material-icons.md-3 {
    font-size: 2.3em;
  }
}

/* line 35, ../sass/Default.scss */
.material-icons.md-1-4 {
  font-size: 1.4em;
}
