/* line 3, ../sass/Default.scss */
body {
  margin: 0;
}

/* line 6, ../sass/Default.scss */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* line 27, ../sass/Default.scss */
.material-icons.md-3 {
  font-size: 3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 27, ../sass/Default.scss */
  .material-icons.md-3 {
    font-size: 2.3em;
  }
}

/* line 34, ../sass/Default.scss */
.material-icons.md-1-4 {
  font-size: 1.4em;
}
