/* line 4, ../sass/Dropdown.scss */
.DropdownMenu {
  height: 95px;
  width: 95%;
  z-index: 3;
  display: none;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 4px 4px;
  background-color: white;
  padding: 2%;
  opacity: 0;
  transition: 1s;
}
/* line 15, ../sass/Dropdown.scss */
.DropdownMenu-visible {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 1;
  transition: .5s;
}

/* line 22, ../sass/Dropdown.scss */
.DropdownMenu li a {
  color: black;
  text-decoration: none;
}

/* line 27, ../sass/Dropdown.scss */
.DropdownMenu li:hover {
  background: rgba(0, 0, 0, 0.1);
}
