@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 4, ../sass/Dropdown.scss */
.DropdownMenu {
  height: 95px;
  width: 95%;
  z-index: 3;
  visibility: hidden;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 4px 4px;
  background-color: white;
  padding: 2%;
  opacity: 0;
  transition: 1s;
}
/* line 15, ../sass/Dropdown.scss */
.DropdownMenu-visible {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 1;
  transition: .5s;
  visibility: visible;
}

/* line 23, ../sass/Dropdown.scss */
.teste2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 1;
  transition: 5s;
  height: 95px;
}

/* line 33, ../sass/Dropdown.scss */
.teste {
  width: 500px;
  height: 500px;
}

/* line 38, ../sass/Dropdown.scss */
.DropdownMenu li a {
  color: black;
  text-decoration: none;
}

/* line 43, ../sass/Dropdown.scss */
.DropdownMenu li:hover {
  background: rgba(0, 0, 0, 0.1);
}
