/* line 1, ../sass/Dropdown.scss */
.DropdownMenu {
  height: 200px;
  width: 300px;
  z-index: 2;
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 4px 4px;
  background-color: white;
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  display: none;
  opacity: 0;
  transition: 1s;
}
/* line 18, ../sass/Dropdown.scss */
.DropdownMenu-visible {
  opacity: 1;
  display: block;
  transition: .5s;
}
