/* line 3, ../sass/Footer.scss */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 6vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
}

/* line 11, ../sass/Footer.scss */
.RegisterFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 15%;
  width: 100%;
}
