/* line 5, ../sass/Footer.scss */
.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 6vh;
  width: 100%;
  background-color: black;
  font-family: Lato, sans-serif;
  background-color: black;
  color: white;
}
@media (max-width: 499px) {
  /* line 5, ../sass/Footer.scss */
  .Footer {
    font-size: 0.75em;
  }
}

/* line 17, ../sass/Footer.scss */
.RegisterFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 15%;
  width: 100%;
}
