/* line 4, ../sass/Form.scss */
.FormSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  align-content: space-between;
}

/* line 10, ../sass/Form.scss */
.InputGroup {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 75%;
}
/* line 14, ../sass/Form.scss */
.InputGroup input {
  font-size: 1.05em;
}
/* line 17, ../sass/Form.scss */
.InputGroup span {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 21, ../sass/Form.scss */
  .InputGroup input {
    font-size: 0.8em;
  }
  /* line 24, ../sass/Form.scss */
  .InputGroup span {
    font-size: 1.1em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 12, ../sass/Form.scss */
  .InputGroup {
    width: 90%;
    height: 5.3vh;
  }
  /* line 35, ../sass/Form.scss */
  .InputGroup input {
    font-size: 0.65em;
  }
  /* line 38, ../sass/Form.scss */
  .InputGroup span {
    font-size: 1em;
  }
}

<<<<<<< HEAD
/* line 45, ../sass/Form.scss */
=======
/* line 30, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.InputGroupButton {
  width: 30%;
  z-index: 99;
}

<<<<<<< HEAD
/* line 50, ../sass/Form.scss */
=======
/* line 35, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.ButtonFilter {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

<<<<<<< HEAD
/* line 59, ../sass/Form.scss */
=======
/* line 43, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.ButtonFilter-activated {
  border-radius: 4px 0 0 0;
}

<<<<<<< HEAD
/* line 63, ../sass/Form.scss */
=======
/* line 47, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.InputSearch {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  padding-left: 2%;
  width: 60%;
}

<<<<<<< HEAD
/* line 70, ../sass/Form.scss */
=======
/* line 54, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.ButtonSearch {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  cursor: pointer;
  padding: 0 2%;
  border-radius: 0 4px 4px 0;
}

<<<<<<< HEAD
/* line 78, ../sass/Form.scss */
=======
/* line 62, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.ButtonSearch:hover {
  background: rgba(0, 0, 0, 0.2);
}

<<<<<<< HEAD
/* line 81, ../sass/Form.scss */
=======
/* line 65, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.DropdownMenu {
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 4px 4px;
  background-color: white;
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  display: none;
  opacity: 0;
  transition: 1s;
}

<<<<<<< HEAD
/* line 96, ../sass/Form.scss */
=======
/* line 80, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
input, .ButtonFilter, .ButtonSearch {
  outline: none;
}

<<<<<<< HEAD
/* line 100, ../sass/Form.scss */
=======
/* line 84, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.DropdownMenu-visible {
  opacity: 1;
  display: block;
  transition: .5s;
}

<<<<<<< HEAD
/* line 109, ../sass/Form.scss */
=======
/* line 93, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.DropdownMenu li a {
  color: black;
  text-decoration: none;
}

<<<<<<< HEAD
/* line 114, ../sass/Form.scss */
=======
/* line 98, ../sass/Form.scss */
>>>>>>> 372e2120b5408dffb95e572cf05cad1f0cf35e0c
.DropdownMenu li:hover {
  background: rgba(0, 0, 0, 0.1);
}
