/* line 5, ../sass/Form.scss */
.FormSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  align-content: space-between;
}

/* line 11, ../sass/Form.scss */
.InputGroup {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 75%;
}
/* line 14, ../sass/Form.scss */
.InputGroup input {
  font-size: 1.05em;
}
/* line 17, ../sass/Form.scss */
.InputGroup span {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 21, ../sass/Form.scss */
  .InputGroup input {
    font-size: 0.8em;
  }
  /* line 24, ../sass/Form.scss */
  .InputGroup span {
    font-size: 1.1em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 11, ../sass/Form.scss */
  .InputGroup {
    height: 5.3vh;
    width: 90%;
  }
  /* line 30, ../sass/Form.scss */
  .InputGroup input {
    font-size: 0.65em;
  }
  /* line 33, ../sass/Form.scss */
  .InputGroup span {
    font-size: 1em;
  }
}

/* line 39, ../sass/Form.scss */
.InputGroupButton {
  width: 30%;
  z-index: 99;
}

/* line 44, ../sass/Form.scss */
.InputSearch {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  padding-left: 2%;
}

/* line 51, ../sass/Form.scss */
.DropdownMenu {
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0 0 4px 4px;
  background-color: white;
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  display: none;
  opacity: 0;
  transition: 1s;
}
/* line 64, ../sass/Form.scss */
.DropdownMenu-visible {
  opacity: 1;
  display: block;
  transition: .5s;
}

/* line 71, ../sass/Form.scss */
input, .ButtonFilter, .ButtonSearch {
  outline: none;
}
