/* line 5, ../sass/Form.scss */
.FormSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  align-content: space-between;
}
@media (max-width: 499px) {
  /* line 5, ../sass/Form.scss */
  .FormSearch {
    width: 100%;
  }
}

/* line 7, ../sass/Input.scss */
.InputSearch {
  width: 60%;
  font-size: 1.05em;
  border: 0.1em solid rgba(0, 0, 0, 0.4);
  border-left: none;
  padding-left: 2%;
  font-size: 1.05em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 7, ../sass/Input.scss */
  .InputSearch {
    font-size: 0.8em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 7, ../sass/Input.scss */
  .InputSearch {
    font-size: 0.6em;
  }
}
@media (max-width: 499px) {
  /* line 7, ../sass/Input.scss */
  .InputSearch {
    font-size: 0.6em;
  }
}

/* line 25, ../sass/Input.scss */
.ModalInputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
/* line 28, ../sass/Input.scss */
.ModalInputs input, .ModalInputs textarea {
  width: 50%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  padding: 5px 6px;
  box-sizing: border-box;
}
/* line 36, ../sass/Input.scss */
.ModalInputs span {
  justify-content: flex-start;
  text-align: left;
  width: 51%;
}
/* line 41, ../sass/Input.scss */
.ModalInputs textarea {
  min-height: 20vh;
  margin: 8px 0px;
  color: #737373;
  padding: 7px 15px;
  border-radius: 5px;
  outline: none;
}

/* line 51, ../sass/Input.scss */
.InputGroup {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 75%;
}
/* line 54, ../sass/Input.scss */
.InputGroup input {
  font-size: 1.05em;
}
/* line 57, ../sass/Input.scss */
.InputGroup span {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 61, ../sass/Input.scss */
  .InputGroup input {
    font-size: 0.8em;
  }
  /* line 64, ../sass/Input.scss */
  .InputGroup span {
    font-size: 1.1em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 51, ../sass/Input.scss */
  .InputGroup {
    height: 5.3vh;
    width: 90%;
  }
  /* line 70, ../sass/Input.scss */
  .InputGroup input {
    font-size: 0.65em;
  }
  /* line 73, ../sass/Input.scss */
  .InputGroup span {
    font-size: 1em;
  }
}
@media (max-width: 499px) {
  /* line 51, ../sass/Input.scss */
  .InputGroup {
    height: 5.3vh;
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  /* line 80, ../sass/Input.scss */
  .InputGroup input {
    font-size: 0.45em;
  }
  /* line 83, ../sass/Input.scss */
  .InputGroup span {
    font-size: 0.8em;
  }
}

/* line 89, ../sass/Input.scss */
input {
  outline: none;
}
