@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../sass/List.scss */
.List {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* line 9, ../sass/List.scss */
.List.is-register {
  display: flex;
  align-items: center;
  width: 94%;
  border-radius: 1%;
}
/* line 15, ../sass/List.scss */
.List.is-item {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
/* line 20, ../sass/List.scss */
.List.is-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2%;
  background-color: white;
}
/* line 26, ../sass/List.scss */
.List.is-vertical {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  font-size: 0.7em;
  margin-top: 3%;
}
@media (min-width: 1191px) and (max-width: 1814px) {
  /* line 26, ../sass/List.scss */
  .List.is-vertical {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 26, ../sass/List.scss */
  .List.is-vertical {
    width: 90%;
    font-size: 1.3em;
  }
}

/* line 41, ../sass/List.scss */
.Items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  line-height: 1.3em;
  cursor: pointer;
}
/* line 47, ../sass/List.scss */
.Items:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: .5s;
}
@media (max-width: 499px) {
  /* line 41, ../sass/List.scss */
  .Items {
    font-size: 1.3em;
  }
}
/* line 55, ../sass/List.scss */
.ItemsRegister {
  display: flex;
  justify-content: flex-start;
}
/* line 59, ../sass/List.scss */
.Items.is-featured {
  width: 95%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 59, ../sass/List.scss */
  .Items.is-featured {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 1px 1px rgba(234, 230, 230, 0.3);
  }
}
@media (max-width: 499px) {
  /* line 59, ../sass/List.scss */
  .Items.is-featured {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow: 2px 2px 1px 1px rgba(234, 230, 230, 0.3);
    line-height: 5em;
  }
}
/* line 73, ../sass/List.scss */
.ItemsText {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 73, ../sass/List.scss */
  .ItemsText {
    width: 68%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 73, ../sass/List.scss */
  .ItemsText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 73, ../sass/List.scss */
  .ItemsText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
  }
}
/* line 91, ../sass/List.scss */
.ItemsText.is-segment {
  display: flex;
  justify-content: center;
}
/* line 95, ../sass/List.scss */
.ItemsText.is-icon {
  display: flex;
  justify-content: flex-end;
  width: 32%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 95, ../sass/List.scss */
  .ItemsText.is-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 95, ../sass/List.scss */
  .ItemsText.is-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}

/* line 110, ../sass/List.scss */
.Subitems {
  width: 100%;
  display: none;
  color: white;
  flex-direction: column;
  list-style: none;
  background-color: transparent;
  line-height: 1.3em;
  font-size: 0.7em;
  text-align: center;
  padding: 0;
  justify-content: space-around;
}
/* line 122, ../sass/List.scss */
.Subitems li {
  display: flex;
  justify-content: flex-start;
  margin-left: 8.5%;
}
/* line 126, ../sass/List.scss */
.Subitems.Open {
  display: flex;
}
@media (max-width: 499px) {
  /* line 110, ../sass/List.scss */
  .Subitems {
    font-size: 1.3em;
  }
}
