/* line 4, ../sass/Login.scss */
.LoginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}

/* line 9, ../sass/Login.scss */
.LoginBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 80%;
}

/* line 14, ../sass/Login.scss */
.LoginFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  width: 100%;
}
/* line 17, ../sass/Login.scss */
.LoginFooter a {
  color: black;
}
