/* line 5, ../sass/Login.scss */
.LoginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 5, ../sass/Login.scss */
  .LoginHeader {
    font-size: 1.3em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 5, ../sass/Login.scss */
  .LoginHeader {
    font-size: 1.1em;
  }
}
@media (max-width: 499px) {
  /* line 5, ../sass/Login.scss */
  .LoginHeader {
    font-size: 1em;
  }
}

/* line 19, ../sass/Login.scss */
.LoginBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 80%;
}

/* line 24, ../sass/Login.scss */
.LoginFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 100%;
}
/* line 28, ../sass/Login.scss */
.LoginFooter a {
  color: black;
}
