/* line 6, ../sass/Logos.scss */
.Logo-wide {
  height: 50%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
  background-image: url("/images/tecnopuc4.png");
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 6, ../sass/Logos.scss */
  .Logo-wide {
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 6, ../sass/Logos.scss */
  .Logo-wide {
    height: 50%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 499px) {
  /* line 6, ../sass/Logos.scss */
  .Logo-wide {
    width: 35%;
  }
}
/* line 24, ../sass/Logos.scss */
.Logo-tall {
  height: 95%;
  width: 3%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 5% 0% 2%;
  background-image: url("/images/puc4.png");
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 24, ../sass/Logos.scss */
  .Logo-tall {
    height: 95%;
    width: 3%;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 24, ../sass/Logos.scss */
  .Logo-tall {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
}
@media (max-width: 499px) {
  /* line 24, ../sass/Logos.scss */
  .Logo-tall {
    width: 10%;
  }
}
/* line 44, ../sass/Logos.scss */
.Logo .LogoCollaborators {
  width: 100%;
  min-height: 30%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1190px) {
  /* line 41, ../sass/Logos.scss */
  .LogoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 41, ../sass/Logos.scss */
  .LogoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 41, ../sass/Logos.scss */
  .LogoCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
