/* line 1, ../sass/logos.scss */
.LogoTecnopuc {
  height: 50%;
  width: 10%;
  /*background-image: url("http://www.actinspace.org/sites/default/files/2016-03/Logo%20-%20Tecnopuc%20Ingl%C3%AAs.png");*/
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
}

/* line 9, ../sass/logos.scss */
.LogoPuc {
  height: 100%;
  width: 10%;
  /*background-image: url("http://spaan.org.br/wp-content/uploads/2016/08/pucrs.png");*/
  /*background-image: url('http://jornadaalfabetizacao.ufsc.br/files/2015/11/PUCRS.png');*/
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
}
