/* line 4, ../sass/Logos.scss */
.Logo-wide {
  height: 50%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
  background-image: url("/images/tecnopuc4.png");
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 4, ../sass/Logos.scss */
  .Logo-wide {
    height: 75%;
    width: 19%;
    justify-content: center;
    margin: 0;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 4, ../sass/Logos.scss */
  .Logo-wide {
    height: 75%;
    width: 19%;
    justify-content: center;
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 499px) {
  /* line 4, ../sass/Logos.scss */
  .Logo-wide {
    width: 35%;
  }
}
/* line 28, ../sass/Logos.scss */
.Logo-tall {
  height: 95%;
  width: 3%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 5% 0% 2%;
  background-image: url("/images/puc4.png");
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 28, ../sass/Logos.scss */
  .Logo-tall {
    width: 5%;
    justify-content: flex-end;
    margin: 0 2%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 28, ../sass/Logos.scss */
  .Logo-tall {
    width: 5%;
    justify-content: center;
    display: flex;
    margin: 0 20px;
    align-items: center;
  }
}
