/* line 4, ../sass/Modal.scss */
.ModalContact {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 11, ../sass/Modal.scss */
.ModalContent {
  width: 50%;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888888;
  text-align: center;
  font-family: Lato, sans-serif;
}

/* line 21, ../sass/Modal.scss */
.Close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}
/* line 25, ../sass/Modal.scss */
.Close:hover, .Close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* line 33, ../sass/Modal.scss */
.ModalHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  border-bottom: 1px solid #eceeef;
}

/* line 40, ../sass/Modal.scss */
.ModalTitle {
  font-size: 1.3em;
}

/* line 44, ../sass/Modal.scss */
.ModalBody {
  display: flex;
  flex-direction: column;
  height: 83%;
}

/* line 49, ../sass/Modal.scss */
.ModalDescription {
  font-size: 0.9em;
  justify-content: center;
}

/* line 54, ../sass/Modal.scss */
.ModalFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #eceeef;
}

/* line 60, ../sass/Modal.scss */
.Spinner {
  height: 80px;
  width: 80px;
  color: black;
}
