@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 7, ../sass/Navbar.scss */
.Navbar {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  font-family: Lane;
  font-weight: lighter;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 7, ../sass/Navbar.scss */
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14vh;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 7, ../sass/Navbar.scss */
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14vh;
  }
}
@media (max-width: 499px) {
  /* line 7, ../sass/Navbar.scss */
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14vh;
  }
}

/* line 28, ../sass/Navbar.scss */
.is-scrolling {
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 32, ../sass/Navbar.scss */
.NavLogo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 32, ../sass/Navbar.scss */
  .NavLogo {
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 32, ../sass/Navbar.scss */
  .NavLogo {
    width: 100%;
    min-height: 60%;
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 499px) {
  /* line 32, ../sass/Navbar.scss */
  .NavLogo {
    width: 100%;
    min-height: 20%;
    display: flex;
    justify-content: flex-start;
  }
}

/* line 53, ../sass/Navbar.scss */
.Hamburger {
  display: none;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 53, ../sass/Navbar.scss */
  .Hamburger {
    height: 65%;
    width: 33%;
    display: block;
    margin-left: 5%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 53, ../sass/Navbar.scss */
  .Hamburger {
    height: 65%;
    width: 30%;
    display: block;
    margin-left: 5%;
  }
}
@media (max-width: 499px) {
  /* line 53, ../sass/Navbar.scss */
  .Hamburger {
    height: 65%;
    width: 26%;
    display: block;
    margin-left: 5%;
  }
}

/* line 74, ../sass/Navbar.scss */
.LogoImage {
  height: 83%;
  width: 20%;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 0;
  background-size: 100%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 74, ../sass/Navbar.scss */
  .LogoImage {
    height: 70%;
    width: 18%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 74, ../sass/Navbar.scss */
  .LogoImage {
    height: 70%;
    width: 26%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 74, ../sass/Navbar.scss */
  .LogoImage {
    height: 70%;
    width: 35%;
    display: flex;
    justify-content: center;
  }
}

/* line 96, ../sass/Navbar.scss */
.NavLinks {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 96, ../sass/Navbar.scss */
  .NavLinks {
    width: 90%;
    min-height: 20%;
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 96, ../sass/Navbar.scss */
  .NavLinks {
    width: 90%;
    min-height: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 96, ../sass/Navbar.scss */
  .NavLinks {
    width: 100%;
    min-height: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7em;
    padding: 0;
  }
}
/* line 124, ../sass/Navbar.scss */
.NavLinks a {
  height: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 124, ../sass/Navbar.scss */
  .NavLinks a {
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 124, ../sass/Navbar.scss */
  .NavLinks a {
    font-size: 0.7em;
  }
}
/* line 137, ../sass/Navbar.scss */
.NavLinks a:hover {
  text-decoration: none;
  color: #00a19a;
}
/* line 142, ../sass/Navbar.scss */
.NavLinks.is-open {
  display: flex;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 96, ../sass/Navbar.scss */
  .NavLinks {
    padding-right: 5%;
  }
}
@media (max-width: 499px) {
  /* line 96, ../sass/Navbar.scss */
  .NavLinks {
    padding-right: 5%;
  }
}
/* line 151, ../sass/Navbar.scss */
.NavLinks a {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  text-align: center;
}
/* line 156, ../sass/Navbar.scss */
.NavLinks a:hover {
  text-decoration: none;
  line-height: 1;
  border-bottom: 0.3vh solid;
}

/* line 164, ../sass/Navbar.scss */
.Link {
  height: 60%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 164, ../sass/Navbar.scss */
  .Link {
    height: 10vh;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 164, ../sass/Navbar.scss */
  .Link {
    height: 10vh;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 499px) {
  /* line 164, ../sass/Navbar.scss */
  .Link {
    height: 10vh;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 1.3em;
  }
}
/* line 185, ../sass/Navbar.scss */
.Link:hover {
  text-decoration: none;
  color: #34495e;
}
/* line 189, ../sass/Navbar.scss */
.Link:hover a {
  color: white;
}

/* line 194, ../sass/Navbar.scss */
.NavSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
  width: 60%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 194, ../sass/Navbar.scss */
  .NavSearch {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
@media (max-width: 499px) {
  /* line 194, ../sass/Navbar.scss */
  .NavSearch {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
}
