/*
Error: Undefined mixin 'size'.
        on line 4 of /code/public/stylesheets/sass/Navbar.scss, in `size'
        from line 4 of /code/public/stylesheets/sass/Navbar.scss

1: @import "_variables.scss";
2: 
3: .Navbar{
4: 	@include size ($width: 100%, $height: 12vh);
5: 	display: flex;
6: 	flex-direction: row;
7: 	justify-content: space-between;
8: 	font-family: $font-style;
9: 	font-weight: lighter;

Backtrace:
/code/public/stylesheets/sass/Navbar.scss:4:in `size'
/code/public/stylesheets/sass/Navbar.scss:4
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `map'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
/usr/local/bundle/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/usr/local/bundle/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/local/bundle/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:331:in `block in watch'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'size'.\A         on line 4 of /code/public/stylesheets/sass/Navbar.scss, in `size'\A         from line 4 of /code/public/stylesheets/sass/Navbar.scss\A \A 1: @import \"_variables.scss\";\A 2: \A 3: .Navbar{\A 4: 	@include size ($width: 100%, $height: 12vh);\A 5: 	display: flex;\A 6: 	flex-direction: row;\A 7: 	justify-content: space-between;\A 8: 	font-family: $font-style;\A 9: 	font-weight: lighter;"; }
