/* line 1, ../sass/navbar.scss */
.Navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  background-color: rgba(2, 2, 2, 0.7);
  color: white;
}

/* line 13, ../sass/navbar.scss */
.NavLogo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  align-items: center;
}

/* line 22, ../sass/navbar.scss */
.NavLinks {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding-right: 10%;
  list-style: none;
  align-items: center;
  color: white;
}

/* line 37, ../sass/navbar.scss */
.Link {
  width: 24%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

/* line 46, ../sass/navbar.scss */
.Link:hover {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  color: #34495e;
  font-size: 1.2em;
}

/* line 52, ../sass/navbar.scss */
.Link:hover a {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2em;
}

/* line 58, ../sass/navbar.scss */
.NavLinks a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

/* line 63, ../sass/navbar.scss */
.NavLinks a:hover {
  text-decoration: none;
  color: white;
}
