/* line 7, ../sass/Navbar.scss */
.Navbar {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 7, ../sass/Navbar.scss */
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14vh;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 7, ../sass/Navbar.scss */
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14vh;
  }
}
@media (max-width: 499px) {
  /* line 7, ../sass/Navbar.scss */
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
}
/* line 27, ../sass/Navbar.scss */
.Navbar.is-open {
  background-color: rgba(0, 0, 0, 0.55);
  height: 12vh;
}

/* line 33, ../sass/Navbar.scss */
.NavLogo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 33, ../sass/Navbar.scss */
  .NavLogo {
    width: 90%;
    min-height: 50%;
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 33, ../sass/Navbar.scss */
  .NavLogo {
    width: 90%;
    min-height: 60%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 499px) {
  /* line 33, ../sass/Navbar.scss */
  .NavLogo {
    width: 90%;
    min-height: 50%;
    display: flex;
    justify-content: space-around;
  }
}

/* line 54, ../sass/Navbar.scss */
.Hamburger {
  display: none;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 54, ../sass/Navbar.scss */
  .Hamburger {
    height: 60%;
    width: 36%;
    display: block;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 54, ../sass/Navbar.scss */
  .Hamburger {
    height: 60%;
    width: 5%;
    display: block;
  }
}
@media (max-width: 499px) {
  /* line 54, ../sass/Navbar.scss */
  .Hamburger {
    height: 60%;
    width: 5%;
    display: block;
  }
}

/* line 70, ../sass/Navbar.scss */
.LogoImage {
  height: 60%;
  width: 30%;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 0;
  background-size: 100%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 70, ../sass/Navbar.scss */
  .LogoImage {
    height: 72%;
    width: 45%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 70, ../sass/Navbar.scss */
  .LogoImage {
    height: 74%;
    width: 52%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 70, ../sass/Navbar.scss */
  .LogoImage {
    height: 70%;
    width: 67%;
    display: flex;
    justify-content: center;
  }
}

/* line 92, ../sass/Navbar.scss */
.NavLinks {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 92, ../sass/Navbar.scss */
  .NavLinks {
    width: 90%;
    min-height: 20%;
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 92, ../sass/Navbar.scss */
  .NavLinks {
    width: 90%;
    min-height: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7em;
  }
}
@media (max-width: 499px) {
  /* line 92, ../sass/Navbar.scss */
  .NavLinks {
    width: 100%;
    min-height: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7em;
    padding: 0;
  }
}
/* line 120, ../sass/Navbar.scss */
.NavLinks a {
  height: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 120, ../sass/Navbar.scss */
  .NavLinks a {
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 120, ../sass/Navbar.scss */
  .NavLinks a {
    font-size: 0.7em;
  }
}
/* line 133, ../sass/Navbar.scss */
.NavLinks a:hover {
  text-decoration: none;
  color: white;
}
/* line 138, ../sass/Navbar.scss */
.NavLinks.is-open {
  display: flex;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 92, ../sass/Navbar.scss */
  .NavLinks {
    padding-right: 5%;
  }
}
@media (max-width: 499px) {
  /* line 92, ../sass/Navbar.scss */
  .NavLinks {
    padding-right: 5%;
  }
}
/* line 147, ../sass/Navbar.scss */
.NavLinks a {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  text-align: center;
}
/* line 152, ../sass/Navbar.scss */
.NavLinks a:hover {
  text-decoration: none;
  color: #3771c8;
}

/* line 159, ../sass/Navbar.scss */
.Link {
  height: 60%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
  color: white;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 159, ../sass/Navbar.scss */
  .Link {
    height: 10vh;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 159, ../sass/Navbar.scss */
  .Link {
    height: 10vh;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 499px) {
  /* line 159, ../sass/Navbar.scss */
  .Link {
    height: 10vh;
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 1.3em;
  }
}
/* line 180, ../sass/Navbar.scss */
.Link:hover {
  text-decoration: none;
  color: #34495e;
}
/* line 184, ../sass/Navbar.scss */
.Link:hover a {
  color: white;
}

/* line 189, ../sass/Navbar.scss */
.NavSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
  width: 60%;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 189, ../sass/Navbar.scss */
  .NavSearch {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
@media (max-width: 499px) {
  /* line 189, ../sass/Navbar.scss */
  .NavSearch {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
}
