/* line 6, ../sass/Section.scss */
.Section {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  background-image: url("/images/background-main-desktop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 6, ../sass/Section.scss */
  .Section {
    background-image: url("/images/background-main-tablet.jpg");
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 6, ../sass/Section.scss */
  .Section {
    background-image: url("/images/background-main-mobile.jpg");
  }
}
@media (max-width: 499px) {
  /* line 6, ../sass/Section.scss */
  .Section {
    background-image: url("/images/background-main-smallMobile.jpg");
    background-repeat: repeat;
  }
}

/* line 26, ../sass/Section.scss */
.SectionOpacity {
  background-color: rgba(0, 0, 0, 0.47);
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.47);
}

/* line 33, ../sass/Section.scss */
.HowItWorks {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}

/* line 40, ../sass/Section.scss */
.Collaborators {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 499px) {
  /* line 40, ../sass/Section.scss */
  .Collaborators {
    height: 202vh;
  }
}

/* line 50, ../sass/Section.scss */
.About {
  width: 100%;
  min-height: 97vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  text-align: justify;
  background-color: rgba(48, 89, 119, 0.93);
  color: white;
}
@media (max-width: 499px) {
  /* line 50, ../sass/Section.scss */
  .About {
    min-height: 65vh;
  }
}

/* line 64, ../sass/Section.scss */
.SectionCards {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 64, ../sass/Section.scss */
  .SectionCards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 64, ../sass/Section.scss */
  .SectionCards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 499px) {
  /* line 64, ../sass/Section.scss */
  .SectionCards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* line 87, ../sass/Section.scss */
.SectionSearch {
  width: 100%;
  min-height: 39vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

/* line 93, ../sass/Section.scss */
.SectionList {
  width: 100%;
  min-height: 82vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

/* line 99, ../sass/Section.scss */
.LogosList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
