/* line 3, ../sass/Section.scss */
.Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 85vh;
  background-image: url("https://goo.gl/cBzVRv");
  background-size: cover;
  background-attachment: fixed;
}

/* line 13, ../sass/Section.scss */
.SectionOpacity {
  width: 100%;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.47);
  display: flex;
  flex-direction: column;
}

/* line 21, ../sass/Section.scss */
.HowItWorks {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}

/* line 31, ../sass/Section.scss */
.Collaborators {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

/* line 41, ../sass/Section.scss */
.About {
  padding: 0;
  width: 100%;
  min-height: 97vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  text-align: justify;
  background-color: rgba(48, 89, 119, 0.93);
  color: white;
}

/* line 55, ../sass/Section.scss */
.SectionCards {
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

/* line 65, ../sass/Section.scss */
.SectionSearch {
  padding: 0;
  width: 100%;
  min-height: 39vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
