@font-face {
  font-family: lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../sass/Tag.scss */
.Tag {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 7vh;
  width: 40%;
  cursor: pointer;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 5, ../sass/Tag.scss */
  .Tag {
    width: 100%;
    margin-bottom: 2%;
  }
}
@media (max-width: 499px) {
  /* line 5, ../sass/Tag.scss */
  .Tag {
    width: 100%;
    margin-bottom: 3%;
  }
}

/* line 19, ../sass/Tag.scss */
.TagTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  font-family: lane;
}
