/* line 5, ../sass/Title.scss */
.CompetencesTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 5%;
  width: 100%;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.3em;
}
@media (max-width: 499px) {
  /* line 5, ../sass/Title.scss */
  .CompetencesTitle {
    font-size: 1.7em;
  }
}

/* line 16, ../sass/Title.scss */
.CardTitle {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
  font-size: 1.3em;
}
