/*
Error: Undefined variable: "$darker-blue-color".
        on line 185 of /code/public/stylesheets/sass/Utilities.scss

180: 		box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(244, 179, 80,1);
181: 		cursor: pointer;
182: 	}
183: }
184: .u-colorBackgroundDarkerBlue {
185: 	background-color: $darker-blue-color;
186: }
187: 
188: .u-widthNone {
189: 	@include size($width: 0%);
190: }

Backtrace:
/code/public/stylesheets/sass/Utilities.scss:185
/usr/local/bundle/gems/sass-3.4.24/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `map'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
/usr/local/bundle/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/usr/local/bundle/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/local/bundle/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/local/bundle/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:331:in `block in watch'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/local/bundle/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$darker-blue-color\".\A         on line 185 of /code/public/stylesheets/sass/Utilities.scss\A \A 180: 		box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(244, 179, 80,1);\A 181: 		cursor: pointer;\A 182: 	}\A 183: }\A 184: .u-colorBackgroundDarkerBlue {\A 185: 	background-color: $darker-blue-color;\A 186: }\A 187: \A 188: .u-widthNone {\A 189: 	@include size($width: 0%);\A 190: }"; }
