/* line 1, ../sass/utilities.scss */
.u-fontSizeSmall {
  font-size: 1em;
}

/* line 5, ../sass/utilities.scss */
.u-fontSizeMedium {
  font-size: 1.3em;
}

/* line 8, ../sass/utilities.scss */
.u-fontSizeLarge {
  font-size: 1.7em;
}

/* line 11, ../sass/utilities.scss */
.u-fontSizeXLarge {
  font-size: 5em;
}

/* line 14, ../sass/utilities.scss */
.u-fontFamilyLato {
  font-family: 'Lato', sans-serif;
}

/* line 18, ../sass/utilities.scss */
.u-align-left {
  text-align: left;
}

/* line 23, ../sass/utilities.scss */
.u-marginSmall {
  margin: 6px;
}

/* line 26, ../sass/utilities.scss */
.u-marginLeft {
  margin-left: 10%;
}

/* line 29, ../sass/utilities.scss */
.u-marginLeftSmall {
  margin-left: 7%;
}

/* line 32, ../sass/utilities.scss */
.u-marginRight {
  margin-right: 0.1%;
}

/* line 35, ../sass/utilities.scss */
.u-marginTop {
  margin-top: 1%;
}

/* line 38, ../sass/utilities.scss */
.u-buttonColor {
  background-color: #3D8EB9;
}

/* line 41, ../sass/utilities.scss */
.u-coloRed {
  background-color: #EB6361;
}

/* line 44, ../sass/utilities.scss */
.u-coloRed:hover {
  box-shadow: 1px 1px 2px 2px #E26A6A;
  cursor: pointer;
}

/* line 48, ../sass/utilities.scss */
.u-coloGreen {
  /*background-color: #64DDBB;*/
  background-color: #02af7e;
}

/* line 52, ../sass/utilities.scss */
.u-coloGreen:hover {
  box-shadow: 1px 1px 2px 2px #36D7B7;
  cursor: pointer;
}

/* line 56, ../sass/utilities.scss */
.u-coloBlue {
  background-color: #0faac3;
}

/* line 59, ../sass/utilities.scss */
.u-coloBlue:hover {
  box-shadow: 1px 1px 2px 2px #6BB9F0;
  cursor: pointer;
}

/* line 64, ../sass/utilities.scss */
.u-coloOrange {
  background-color: #EB9532;
}

/* line 67, ../sass/utilities.scss */
.u-coloOrange:hover {
  box-shadow: 1px 1px 2px 2px #F4B350;
  cursor: pointer;
}

/* line 72, ../sass/utilities.scss */
.u-coloRed1 {
  color: #EB6361 !important;
}

/* line 75, ../sass/utilities.scss */
.u-coloGreen1 {
  /*background-color: #64DDBB;*/
  color: #02af7e;
}

/* line 79, ../sass/utilities.scss */
.u-coloBlue1 {
  color: #0faac3;
}

/* line 82, ../sass/utilities.scss */
.u-coloOrange1 {
  color: #EB9532;
}

/* line 87, ../sass/utilities.scss */
.u-line-height-medium {
  line-height: 1.7em;
}

/* line 90, ../sass/utilities.scss */
.u-font-withe {
  color: white;
}

/* line 93, ../sass/utilities.scss */
.u-center {
  text-align: center;
}
