/* line 5, ../sass/Utilities.scss */
.u-fontSizeSmall {
  font-size: 1em;
}

/* line 9, ../sass/Utilities.scss */
.u-fontSizeMediumSlogan {
  font-size: 1.3em;
}

/* line 13, ../sass/Utilities.scss */
.u-fontSizeMedium {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 13, ../sass/Utilities.scss */
  .u-fontSizeMedium {
    font-size: 1em;
  }
}

/* line 20, ../sass/Utilities.scss */
.u-fontSizeLarge {
  font-size: 1.7em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 20, ../sass/Utilities.scss */
  .u-fontSizeLarge {
    font-size: 1.3em;
  }
}

/* line 27, ../sass/Utilities.scss */
.u-fontSizeXLarge {
  font-size: 5em;
}

/* line 31, ../sass/Utilities.scss */
.u-fontFamilyLato {
  font-family: Lato, sans-serif;
}

/* line 34, ../sass/Utilities.scss */
.u-font-withe, .u-fontWhite {
  color: white;
}

/* line 38, ../sass/Utilities.scss */
.u-fontWhiteColor {
  color: white;
}

/* line 42, ../sass/Utilities.scss */
.u-marginSmall {
  margin: 6px;
}

/* line 46, ../sass/Utilities.scss */
.u-marginLeft {
  margin-left: 10%;
}

/* line 50, ../sass/Utilities.scss */
.u-marginLeftSmall {
  margin-left: 6%;
}

/* line 55, ../sass/Utilities.scss */
.u-marginRight {
  margin-right: 0.1%;
}

/* line 59, ../sass/Utilities.scss */
.u-marginTop {
  margin-top: 1%;
}

/* line 63, ../sass/Utilities.scss */
.u-marginBottom {
  margin-bottom: 1%;
}

/* line 67, ../sass/Utilities.scss */
.u-lineHeightMedium {
  line-height: 1.7em;
}

/* line 71, ../sass/Utilities.scss */
.u-colorLightBlue {
  color: #0faac3;
}

/* line 76, ../sass/Utilities.scss */
.u-colorLightRed {
  color: #eb6361;
}

/* line 82, ../sass/Utilities.scss */
.u-colorGreen {
  color: #02af7e;
}

/* line 86, ../sass/Utilities.scss */
.u-colorOrange {
  color: #eb9532;
}

/* line 90, ../sass/Utilities.scss */
.u-colorBackgroundwhite {
  background-color: white;
}

/* line 94, ../sass/Utilities.scss */
.u-colorBackgroundOrange {
  background-color: #eb9532;
}

/* line 97, ../sass/Utilities.scss */
.u-colorBackgroundGreen {
  background-color: #02af7e;
}

/* line 100, ../sass/Utilities.scss */
.u-colorBackgroundGreen:hover {
  box-shadow: 1px 1px 2px 2px #64ddbb;
  cursor: pointer;
}

/* line 105, ../sass/Utilities.scss */
.u-colorBackgroundOrange:hover {
  box-shadow: 1px 1px 2px 2px #f4b350;
  cursor: pointer;
}

/* line 110, ../sass/Utilities.scss */
.u-widthNone {
  width: 0%;
}

/* line 114, ../sass/Utilities.scss */
.u-widthMedium {
  width: 30%;
  margin: 5%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 114, ../sass/Utilities.scss */
  .u-widthMedium {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-size: 1em;
  }
}
@media (max-width: 499px) {
  /* line 114, ../sass/Utilities.scss */
  .u-widthMedium {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-size: 0.5em;
  }
}

/* line 135, ../sass/Utilities.scss */
.u-widthLarge {
  width: 90%;
}

/* line 139, ../sass/Utilities.scss */
.u-colorGold {
  color: #e4b541;
}

/* line 142, ../sass/Utilities.scss */
.u-colorRed {
  background-color: #EB6361;
}

/* line 145, ../sass/Utilities.scss */
.u-colorRed:hover {
  box-shadow: 1px 1px 2px 2px #E26A6A;
  cursor: pointer;
}

/* line 149, ../sass/Utilities.scss */
.u-colorGreen {
  /*background-color: #64DDBB;*/
  background-color: #02af7e;
}

/* line 153, ../sass/Utilities.scss */
.u-colorGreen:hover {
  box-shadow: 1px 1px 2px 2px #36D7B7;
  cursor: pointer;
}

/* line 157, ../sass/Utilities.scss */
.u-colorBlue {
  background-color: #0faac3;
}

/* line 160, ../sass/Utilities.scss */
.u-colorBlue:hover {
  box-shadow: 1px 1px 2px 2px #6BB9F0;
  cursor: pointer;
}

/* line 165, ../sass/Utilities.scss */
.u-colorOrange {
  background-color: #EB9532;
}

/* line 168, ../sass/Utilities.scss */
.u-colorOrange:hover {
  box-shadow: 1px 1px 2px 2px #F4B350;
  cursor: pointer;
}

/* line 173, ../sass/Utilities.scss */
.u-colorRed1 {
  color: #EB6361 !important;
}

/* line 176, ../sass/Utilities.scss */
.u-colorGreen1 {
  color: #02af7e;
}

/* line 179, ../sass/Utilities.scss */
.u-colorBlue1 {
  color: #0faac3;
}

/* line 182, ../sass/Utilities.scss */
.u-colorOrange1 {
  color: #EB9532;
}

/* line 186, ../sass/Utilities.scss */
.u-center {
  text-align: center;
}

/* line 190, ../sass/Utilities.scss */
.u-borderWhite {
  border: solid 2px;
}
