/* line 4, ../sass/Utilities.scss */
.u-fontSizeSmall {
  font-size: 1em;
}

/* line 8, ../sass/Utilities.scss */
.u-fontSizeMediumSlogan {
  font-size: 1.3em;
}

/* line 12, ../sass/Utilities.scss */
.u-fontSizeMedium {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 12, ../sass/Utilities.scss */
  .u-fontSizeMedium {
    font-size: 1em;
  }
}

/* line 19, ../sass/Utilities.scss */
.u-fontSizeLarge {
  font-size: 1.7em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 19, ../sass/Utilities.scss */
  .u-fontSizeLarge {
    font-size: 1.3em;
  }
}

/* line 26, ../sass/Utilities.scss */
.u-fontSizeXLarge {
  font-size: 5em;
}

/* line 30, ../sass/Utilities.scss */
.u-fontFamilyLato {
  font-family: Lato, sans-serif;
}

/* line 33, ../sass/Utilities.scss */
.u-font-withe, .u-fontWhite {
  color: white;
}

/* line 37, ../sass/Utilities.scss */
.u-fontWhiteColor {
  color: white;
}

/* line 41, ../sass/Utilities.scss */
.u-marginSmall {
  margin: 6px;
}

/* line 45, ../sass/Utilities.scss */
.u-marginLeft {
  margin-left: 10%;
}

/* line 49, ../sass/Utilities.scss */
.u-marginLeftSmall {
  margin-left: 7%;
}

/* line 53, ../sass/Utilities.scss */
.u-marginRight {
  margin-right: 0.1%;
}

/* line 57, ../sass/Utilities.scss */
.u-marginTop {
  margin-top: 1%;
}

/* line 61, ../sass/Utilities.scss */
.u-lineHeightMedium {
  line-height: 1.7em;
}

/* line 65, ../sass/Utilities.scss */
.u-colorLightBlue {
  color: #0faac3;
}

/* line 70, ../sass/Utilities.scss */
.u-colorLightRed {
  color: #eb6361;
}

/* line 76, ../sass/Utilities.scss */
.u-colorGreen {
  color: #02af7e;
}

/* line 80, ../sass/Utilities.scss */
.u-colorOrange {
  color: #eb9532;
}

/* line 84, ../sass/Utilities.scss */
.u-colorBackgroundOrange {
  background-color: #eb9532;
}

/* line 87, ../sass/Utilities.scss */
.u-colorBackgroundGreen {
  background-color: #02af7e;
}

/* line 90, ../sass/Utilities.scss */
.u-colorBackgroundGreen:hover {
  box-shadow: 1px 1px 2px 2px #64ddbb;
  cursor: pointer;
}

/* line 95, ../sass/Utilities.scss */
.u-colorBackgroundOrange:hover {
  box-shadow: 1px 1px 2px 2px #f4b350;
  cursor: pointer;
}

/* line 100, ../sass/Utilities.scss */
.u-widthNone {
  width: 0%;
}

/* line 104, ../sass/Utilities.scss */
.u-widthMedium {
  width: 30%;
  margin: 5%;
}

/* line 109, ../sass/Utilities.scss */
.u-widthLarge {
  width: 90%;
}

/* line 113, ../sass/Utilities.scss */
.u-colorGold {
  color: #e4b541;
}

/* line 116, ../sass/Utilities.scss */
.u-colorRed {
  background-color: #EB6361;
}

/* line 119, ../sass/Utilities.scss */
.u-colorRed:hover {
  box-shadow: 1px 1px 2px 2px #E26A6A;
  cursor: pointer;
}

/* line 123, ../sass/Utilities.scss */
.u-colorGreen {
  /*background-color: #64DDBB;*/
  background-color: #02af7e;
}

/* line 127, ../sass/Utilities.scss */
.u-colorGreen:hover {
  box-shadow: 1px 1px 2px 2px #36D7B7;
  cursor: pointer;
}

/* line 131, ../sass/Utilities.scss */
.u-colorBlue {
  background-color: #0faac3;
}

/* line 134, ../sass/Utilities.scss */
.u-colorBlue:hover {
  box-shadow: 1px 1px 2px 2px #6BB9F0;
  cursor: pointer;
}

/* line 139, ../sass/Utilities.scss */
.u-colorOrange {
  background-color: #EB9532;
}

/* line 142, ../sass/Utilities.scss */
.u-colorOrange:hover {
  box-shadow: 1px 1px 2px 2px #F4B350;
  cursor: pointer;
}

/* line 147, ../sass/Utilities.scss */
.u-colorRed1 {
  color: #EB6361 !important;
}

/* line 150, ../sass/Utilities.scss */
.u-colorGreen1 {
  color: #02af7e;
}

/* line 153, ../sass/Utilities.scss */
.u-colorBlue1 {
  color: #0faac3;
}

/* line 156, ../sass/Utilities.scss */
.u-colorOrange1 {
  color: #EB9532;
}

/* line 160, ../sass/Utilities.scss */
.u-center {
  text-align: center;
}
