@mixin flex($align: null, $direction: null, $justify: null, $self: null, $wrap: null, $content: null) {
  display: flex;
  @if($align) {
    align-items: $align;
  }
  @if($direction) {
    flex-direction: $direction;
  }
  @if($justify){
    justify-content: $justify;
  }
  @if($self){
    align-self: $self;
  }
  @if($wrap){
  flex-wrap: $wrap;
}
@if($content){
  align-content: $content;
}
}

@mixin size($height: null, $width: null, $min-height: null, $min-width: null) {
  @if($height) {
    height: $height;
  }
  @if($width) {
    width: $width;
  }
  @if($min-height) {
    min-height: $min-height;
  }
  @if($min-width) {
    min-width: $min-width;
  }
}
@mixin blackGradient($alpha) {
  @if($alpha) {
    background-color: rgba(0,0,0, $alpha);
  }
}
