@import "_mixins.scss";
@import "_variables.scss";

.ContentAbout {
  @include flex($align: center, $direction: column, $justify: center);
  height: 50%;
  width: 65%;
}
.TextExplanation {
  @include flex($align: center, $direction: column, $justify: center);
  width: 100%;
  height: 70%;
  font-family: $font-style;
  color: $white-font-color;
  text-shadow: 1px 1px #000;
  line-height: 2em;
  font-size: 1.3em;
  font-weight: lighter;
}
.LogosCredibility {
  @include flex($align: center, $direction: row, $justify: flex-end);
  width: 99%;
  height: 30%;
}
.BoxText {
  @include flex($align: center, $direction: column, $justify: center);
  height: 50%;
  width: 100%;
  font-family: $font-style;
  font-weight: lighter;
  font-size: 1.3em;
  text-align: center;
  color: $white-font-color
}
.BoxSearch {
  @include flex($align: center, $direction: column, $justify: center);
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.7);
}
.TitleSearch {
  @include flex($align: center, $justify: center);
  width: 60%;
  height: 20%;
  font-family: $font-style;
  color: $white-font-color;
  text-shadow: 1px 1px #000;
}
.BoxHowItWorks {
  @include flex($align: center, $direction: column, $justify: center);
  height: 100%;
  width: 20%;
}
.Icon {
  @include flex($align: center, $justify: center);
  height: 50%;
  width: 40%;
  color: $white-font-color;
  background-color: $white-color;
  border-radius: 100%;
}
.ContentHowItWorks {
  @include flex($direction: column);
  height: 35vh;
  width: 98%;
  font-family: $font-style;
  font-weight: lighter;
}
.Title {
  @include flex($align: center, $justify: center);
  width: 100%;
  height: 25%;
  text-align: center;
}
.CardContentF {
  @include flex($align: flex-start, $justify: space-around);
  height: 75%;
  width: 98%;
}
.Arrow {
  @include flex($align: center, $justify: center);
  height: 50%;
  width: 5%;
  color: $white-color;
}
.Text {
  height: 55%;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.ContentSearch {
  @include flex($align: center, $direction: column, $justify: center);
  min-height: 25vh;
  width: 98%;
  font-family: $font-style;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
}
.Tag{
  @include flex($align: center, $direction: column, $justify: center);
	width: 40%;
	height: 7vh;
  cursor: pointer;
}
.TagTitle{
  @include flex($align: center, $direction: row, $justify: center);
	width: 100%;
	height: 100%;
	color: $white-font-color;
	font-family: $font-style;

}
.NavSearch{
  @include flex($direction: row, $justify: space-between);
	width: 60%;
	height: 60%;
}
.BoxTextTitle{
  @include flex($align: center, $justify: center);
	height: 100%;
	width: 85%;
}

.FormSearch {
  @include flex($align: center, $direction: columns, $justify: center);
  align-content: space-between;
  width: 85%;
}

.InputGroup {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 6vh;
}
