@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery";

.ContentAbout {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($height: 50%, $width: 65%);
}

.LogosCredibility {
  @include flex($align: center, $direction: row, $justify: flex-end);
  @include size($height: 30%, $width: 99%);
  @include mobile {
    align-items: inherit;
  }
}

.BoxText {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($height: 50%, $width: 100%);
  font-family: $font-style;
  font-weight: lighter;
  font-size: 1em;
  text-align: center;
  color: $white-font-color;
  @include tablet {
    font-size: 0.75em;
  }
  @include mobile {
    @include flex($justify: flex-start);
    font-size: 0.7em;
    margin: 1vh 0;
  }
  @include smallMobile {
    @include size($width: 90%);
    font-size: 0.7em;
  }
}

.BoxSearch {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($height: 60%, $width: 100%);
  @include blackGradient($alpha: 0.7);
}

.BoxHowItWorks {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($height: 100%, $width: 30%);
  @include tablet {
    height: 80%;
  }
  @include mobile {
    @include size($height: 60%, $width: 80%);
  }
  @include smallMobile {
    @include flex($direction: column);
    @include size($width: 70%);
  }
}

.BowFlowHowItWorks {
  @include flex($direction: column);
  @include size($height: 35vh, $width: 98%);
  font-family: $font-style;
  font-weight: lighter;
  @include smallMobile {
    @include size($height: 70%);
  }
}

.BoxCardContent  {
  @include flex($align: flex-start, $justify: space-around);
  @include size($height: 75%, $width: 98%);
  @include smallMobile {
    @include flex($align: center, $direction: column);
    @include size($height: 100%);
  }
}

.ContentSearch {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($width: 98%, $min-height: 25vh);
  font-family: $font-style;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
  @include mobile {
    @include size($min-height: 20vh);
  }
  @include smallMobile {
    min-height: 18vh;
  }
}

.BoxTextTitle {
  @include flex($align: center, $justify: center);
  @include size($height: 100%, $width: 85%);
}

.BoxFilterBy {
  @include size($width: 30%);
  z-index: 2;
}

.BoxClear {
  @include size($width: 50%);
  @include flex($align: flex-end, $justify: flex-end);
}

.BoxTextArea {
  @include size($width: 100%);
}

.BoxRegisterBody{
  @include flex($justify: center, $direction: column);
  @include size($width: 80%, $height: 75%);
}

.BoxSteps{
  @include flex($align: center, $direction: row, $justify: center);
}

.BoxRegister {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($width: 40%, $height: 50vh);
  background: rgba(255, 255, 255, 0.72);
  border-radius: 1.4%;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 2%;
  font-family: $font-style;
  font-weight: lighter;
  &.BoxRegisterLarge{
    height: 65vh;
  }
  @include tablet{
    @include size($width: 80%);
  }
  @include mobile{
    @include size($width: 80%);
  }
  @include smallMobile{
    @include size($width: 90%,$height: 52vh);
  }
}
