.Button{
  background-color: #3771c8;
  height: 100%;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  outline: 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
}
.ButtonTag{
	width: 40%;
	height: 25px;
	background-color: #3D8EB9;
	margin: 15px;
	float: right;
	border: none;
	color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButtonTag a{
  color: white;
  text-decoration: none;
}

.ButtonSearch{
	width: 18.6%;
	height: 90%;
	background-color: #3D8EB9;
	color: #fff;
	font-family: 'Lato', sans-serif;
	border-radius: 2px;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;

}
.Button:hover{
	box-shadow: 1px 1px 1px 1px #6BB9F0;
	cursor: pointer;
}
.Button a {
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Check{
	display: none;
	width: 13px;
	height: 13px;
	border: 1px solid blue;
	background-color: blue;
	border-radius: 5px;
}
.div{
	width: 10px;
	height: 10px;
	border: 1px solid blue;
	background-color: transparent;
	border-radius: 0px;
	margin-right: 5px;
		background-color: blue;
}


.Check:hover{
	width: 15px;
	height: 15px;
}
