@import "_mixins.scss";
@import "_variables.scss";

.Button{
  @include flex($align: center, $justify: center);
  @include size($height: 100%);
  background-color: #3771c8;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  outline: 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
}

.Button:hover{
	box-shadow: 1px 1px 1px 1px #6BB9F0;
	cursor: pointer;
}
.Button a {
  @include flex($align: center, $justify: center);
	text-decoration: none;
	color: white;
}

.ButtonFilter{
  @include size($height: 100%, $width: 100%);
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, .4);
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

.ButtonFilter-activated {
  border-radius: 4px 0 0 0;
}

.ButtonSearch{
  border: 1px solid rgba(0, 0, 0, .4);
  border-left: none;
  cursor: pointer;
  padding: 0 2%;
  border-radius: 0 4px 4px 0;
}

.ButtonSearch:hover {
  background: rgba(0, 0, 0, .2);
}
