body {
  background: #e0e0e0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.Card {
  background: #fff;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  min-height: 35vh;
  margin-bottom: 2%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}





.CardCenter {
  background: #fff;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  min-height: 66vh;
  margin-bottom: 3%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.Subitens {
  width: 85%;
  margin-top: 2%;
  display: none;
  list-style: none;
  line-height: 1.8em;
  font-size: 0.8em;
  text-align:left;
  margin: 0;
  box-shadow: 2px 3px 1px 1px rgba(48, 91, 159, 0.1);
  background-color: rgba(255,255,255,0.8);

}
.Itens{
  width: 40%;
  display: flex;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  cursor: pointer;
}

.CompetenceList {
  display:flex;
  width: 100%;
  height: 95%;
  text-align: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CompetencesTitle{
  width: 100%;
  height: 5%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ContactTitle{
  width: 100%;
  height: 5%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.SectionCards{
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.SectionCardsHome{
  padding: 0;
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.CompanyName{
  width: 100%;
  height: 10%;
  text-align: center;

}

.CenterName{
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom: 3%;
}

.CompanyDescription{
  width: 90%;
  height: 30%;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8em;

}
.CenterTheme{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;

}
.ItemTheme{
  width: 50%;
  height: 100%;
  margin: 2%;
  word-wrap: break-word;

}

.CompanyCompetences{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.SectionSearch{
  padding: 0;
  width: 100%;
  min-height: 39vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

}

.ContentSearch{
  min-height: 25vh;
  margin-bottom: 2%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: justify;
  padding: 0%;
}

.radioButton{
  margin-left: 30px;
  margin-bottom: 10px;
}

.form-search {
  /*background: red;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 85%;
}

.input-group {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 4vh;
}

.input-group-btn{
  width: 23%;
  z-index: 99;
}

.btn-filter{
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

.btn-filter-activated {
  border-radius: 4px 0 0 0;
}

.inputBusca{
  border: 1px solid rgba(0, 0, 0, .4);
  border-left: none;
  padding-left: 2%;
  width: 60%;
}

.btn-search{
  border: 1px solid rgba(0, 0, 0, .4);
  border-left: none;
  cursor: pointer;
  padding: 0 2%;
  border-radius: 0 4px 4px 0;
}

.btn-search:hover {
  background: rgba(0, 0, 0, .2);
}
.dropdown-menu{
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  opacity: 0;
  transition: 1s;
}

input, .btn-filter, .btn-search {
  outline: none;
}

.dropdown-menu-visible {
  opacity: 1;
  transition: .5s;
}

.dropdown-menu li{

}

.dropdown-menu li a{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

}

.dropdown-menu li:hover{
  background: rgba(0, 0, 0, .10);


}
