.Card {
  background: #fff;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 2%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.CardNav {
  width: 100%;
  min-height: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.CardLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardTitle {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.Logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.CardCenter {
  background: #fff;
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  min-height: 66vh;
  margin-bottom: 3%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.Subitems {
  width: 85%;
  margin-top: 2%;
  display: none;
  list-style: none;
  line-height: 1.8em;
  font-size: 0.8em;
  text-align:left;
  margin: 0;
  box-shadow: 2px 3px 1px 1px rgba(48, 91, 159, 0.1);
  background-color: rgba(255,255,255,0.8);

}
.Items{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  cursor: pointer;
  align-self: center;
}

.CompetenceList {
  display:flex;
  width: 100%;
  height: 95%;
  text-align: left;
  flex-direction: column;
  padding: 0;
}

.CompetencesTitle{
  width: 100%;
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.2em;
}
.ItemText{
  width: 70%;
  height: 100%;
  display: flex;
}

.ItemStar{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: #e4b541;
}
.ContactTitle{
  width: 100%;
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.CompanyName {
  width: 100%;
  height: 10%;
  text-align: center;
}
.CenterName{
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom: 3%;
}

.CompanyDescription{
  width: 90%;
  height: 30%;
  display: flex;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8em;
}
.CenterTheme{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}
.ItemTheme{
  width: 50%;
  height: 100%;
  margin: 2%;
  word-wrap: break-word;
}
.FooterCardPrimay {
  border-top: 2px solid #c1c1c1;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
.RatingExplanation {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.BoxButtonCard {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.CompanyCompetences{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.CardSecondary{
  border-top: 2px solid #c1c1c1;
  padding: 1%;
  display: none;
}

.FooterCardSecondary{
  border-top: 2px solid #c1c1c1;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
