
@import "_mixins.scss";


.Card {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($width: 48%, $min-height: 45vh);
  background: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}


.CardCenter {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($width: 48%, $min-height: 66vh);
  background: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 5px 2px rgba(48, 91, 159, 0.2);
  margin-bottom: 3%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
.Subitems {
  @include size($width: 85%);
  margin-top: 2%;
  display: none;
  list-style: none;
  line-height: 1.8em;
  font-size: 0.8em;
  text-align: left;
  margin: 0;
  box-shadow: 2px 3px 1px 1px rgba(48, 91, 159, 0.1);
  background-color: rgba(255,255,255,0.8);
}
.Items{

  @include flex($align: center, $justify: center);
  @include size($width: 50%);
  line-height: 2em;
  cursor: pointer;
  align-self: center;
}
.CompetenceList {
  @include flex($align: flex-start, $direction: column, $justify: space-between);
  @include ($width: 100%);
  height: 95%;
  text-align: left;
}
.CompetencesTitle{
  @include flex($align: flex-end, $justify: center);
  @include size($height: 5%, $width: 100%);
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.2em;
}
.ItemText{
  @include flex($align: flex-start, $direction: row, $justify: space-between);
  @include size($height: 95%, $width: 100%);
  display:flex;
  text-align: right;
  flex-wrap: wrap;
}

.ItemStar{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  color: rgba(228, 181, 65, 1);
}

.ContactTitle{
  @include flex($align: flex-end, $justify: center);
  @include size($height: 5%, $width: 100%);
}
.CompanyName {
  @include size($height: 10%, $width: 100%);
  text-align: center;
}
.CenterName{
  @include size($height: 10%, $width: 100%);
  text-align: center;
  margin-bottom: 3%;
}
.CompanyDescription{
  @include size($height: 30%, $width: 90%);
  display: flex;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8em;
}
.CenterTheme{
  @include flex($direction: row);
  @include size($height: 20%, $width: 100%);
}
.ItemTheme{
  @include size($height: 100%, $width: 50%);
  margin: 2%;
  word-wrap: break-word;
}
.FooterCardPrimay {
  border-top: 2px solid #c1c1c1;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
.RatingExplanation {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.BoxButtonCard {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CompanyCompetences{
  @include flex($direction: column);
  @include size($height: 60%, $width: 100%);
  width: 100%;
  height: 60%;
  margin-top: 3%;
}

.CardSecondary{
  border-top: 2px solid #c1c1c1;
  padding: 1%;
  display: none;
}

.FooterCardSecondary{
  border-top: 2px solid #c1c1c1;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
