@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery.scss";

.Card {
  @include flex($align: center, $direction: column, $justify: center);
  @include size($width: 48%, $min-height: 45%);
  @include blackGradient($alpha: 0.7);
  border-radius: 1%;
  margin-bottom: 2%;
  font-family: $font-style;
  font-weight: lighter;
  color: $white-color;
  @include tablet {
    @include size($width: 95%, $min-height: 55%);
    font-size: $large-font-size;
  }
  @include mobile {
    @include size($width: 95%, $min-height: 55%);
    font-size: $large-font-size;
  }
  @include smallMobile {
    @include size($width: 95%, $min-height: 55%);
    font-size: $small-font-size;
  }

  &.is-login {
    @include size($height: 60vh);
    background: rgba(255, 255, 255, 0.72);
    @include tablet {
      @include size($width: 80%);
    }
    @include mobile {
      @include size($width: 80%);
    }
    @include smallMobile {
      @include size($width: 90%,$height: 57vh);
    }
  }

  &.is-secondary {
    @include size($width: 95%);
    border-top: 1px solid rgba(193, 193, 193, 0.45);
    padding: 1%;
    background-color: rgba(0,0,0,0);
    color:$white-font-color;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &Nav {
    @include flex($direction: row, $justify: flex-start);
    @include size($width: 100%, $min-height: 20%);
    font-family: $font-style;
    @include mobile{
      @include size($width: 100%);
      @include flex($align: center, $direction: column, $justify: center);
    }
    @include smallMobile{
      @include size($width: 100%);
      @include flex($align: center, $direction: column, $justify: center);
    }
    &.is-center {
      @include flex($align: center, $direction: row, $justify: center, $wrap: wrap);
      text-align: center;
      @include mobile{
        @include size($width: 90%);
      }
      @include smallMobile{
        @include size($width: 90%);
      }
    }
  }
}
