@import "MediaQuery.scss";

body{
  margin: 0;
  padding: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-3 {
  font-size: 3em;
}
.material-icons.md-hamburger {
  font-size: 3em;
  @include smallMobile{
    font-size: 2em;
  };
}
.material-icons.md-35px {
  @include tablet{
    font-size: 35px;
  }
  @include smallMobile{
    font-size: 20px;
  }
@include tablet {
  font-size: 2.3em;
}
}

.material-icons.md-1-4 {
  font-size: 1.4em;
}
