@import "_mixins.scss";
@import "_variables.scss";

.DropdownMenu{
  @include size($height:  170px, $width: 95%);
  z-index: 3;
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  display: none;
  opacity: 0;
  transition: 1s;
  &-visible{
    opacity: 1;
    display: block;
    transition: .5s;
  }
}
