@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery";

.DropdownMenu {
  @include size($height: 11vh, $width: 95.5%);
  @include flex($direction: row, $justify: space-around);
  font-size: 0.9em;
  @include tablet {
    @include size($height: 13vh, $width: 84.8%);
    font-size: 0.8em;
  }
  @include mobile {
    @include size($height: 13vh, $width: 93%);
    font-size: 0.8em;
  }
  @include smallMobile {
    @include size($width: 85%);
    font-size: $small-font-size;
  }
  z-index: 3;
  visibility: hidden;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0 0 4px 4px;
  background-color: $white-color;
  padding: 2%;
  opacity: 0;
  transition: 1s;
  &-visible{
    opacity: 1;
    transition: .5s;
    visibility: visible;
  }
}

.DropdownMenu li a{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.DropdownMenu li:hover{
  background: rgba(0, 0, 0, .10);
}
