@import "_mixins.scss";
@import "MediaQuery";
@import "_variables";

footer{
	@include flex($align: center, $direction: column, $justify: center);
	@include size($width: 100%);
	font-family: $font-style;
	background-color: $black-font-color;
	color: white;
	@include smallMobile {
		font-size: 0.75em;
	}
}
