@import "_mixins.scss";
@import "MediaQuery";
@import "_variables";

.Footer{
	@include flex($align: center, $direction: column, $justify: center);
	@include size($width: 100%, $height: 6vh);
	@include blackGradient($alpha: 1);
	font-family: $font-style;
	background-color: $black-font-color;
	color: $white-font-color;
	@include smallMobile {
		font-size: 0.75em;
	}
}

.RegisterFooter {
	@include flex($align: center, $direction: column, $justify: space-around);
	@include size($width: 100%, $height: 15%);
}
