.FormSearch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 85%;
}

.InputGroup {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 6vh;
  input {
    font-size: 1.05em;
  }
  span {
    font-size: 1.3em;
  }
}


.InputGroupButton{
  width: 30%;
  z-index: 99;
}

.ButtonFilter{
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

.ButtonFilter-activated {
  border-radius: 4px 0 0 0;
}

.InputSearch{
  border: 1px solid rgba(0, 0, 0, .4);
  border-left: none;
  padding-left: 2%;
  width: 60%;
}

.ButtonSearch{
  border: 1px solid rgba(0, 0, 0, .4);
  border-left: none;
  cursor: pointer;
  padding: 0 2%;
  border-radius: 0 4px 4px 0;
}

.ButtonSearch:hover {
  background: rgba(0, 0, 0, .2);
}
.DropdownMenu{
  list-style: none;
  position: static;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  right: 61.05vw;
  bottom: 4.6vh;
  padding: 2%;
  display: none;
  opacity: 0;
  transition: 1s;
}

input, .ButtonFilter, .ButtonSearch {
  outline: none;
}

.DropdownMenu-visible {
  opacity: 1;
  display: block;
  transition: .5s;
}

.DropdownMenu li{
}

.DropdownMenu li a{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.DropdownMenu li:hover{
  background: rgba(0, 0, 0, .10);
}
