@import "_mixins.scss";
@import "MediaQuery.scss";

.Input{
  &Search{
    font-size: 1.05em;
    border: 1px solid rgba(0, 0, 0, .4);
    border-left: none;
    padding-left: 2%;
    font-size: 1.05em;
    width: 60%;
  }
}
.ModalInputs {
  @include flex($align: center, $direction: column);
  @include size($width: 100%);
  input, textarea{
    @include size($width: 50%);
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding: 5px 6px;
    box-sizing: border-box;
  }
  span {
    justify-content: flex-start;
    text-align: left;
    width: 51%;
  }
  textarea {
    min-height: 20vh;
    margin: 8px 0px;
    color: rgba(115, 115, 115, 1);
    padding: 7px 15px;
    border-radius: 5px;
    outline: none;
  }
}
.LoginInputs {
  @include flex($align: center, $direction: column);
  @include size($height: 48%, $width: 100%);
  input {
    @include size($width: 50%);
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding: 5px 6px;
    box-sizing: border-box;
    @include tablet{
      @include size($height: 40px,$width: 100%);
    }
    @include mobile{
      @include size($height: 40px,$width: 100%);
    }
    @include smallMobile{
      @include size($height: 40px,$width: 100%);
    }
  }
  span {
    justify-content: flex-start;
    text-align: left;
    width: 51%;
    @include tablet{
    @include size($width: 100%);
     font-size: 1.5em;
    }
    @include mobile{
      @include size($width: 100%);
      font-size: 1em;
    }
    @include smallMobile{
    @include size($width: 100%);
      font-size: 0.9em;
    }
  }
}
