@import "_mixins.scss";
@import "MediaQuery";
@import "_variables";
@import "Form";

.Input{
  &Search{
    @include size ($width: 60%);
    font-size: 1.05em;
    border: 0.2em solid rgba(0, 0, 0, .4);
    border-left: none;
    padding-left: 2%;
    font-size: 1.05em;
    @include tablet {
      font-size: 0.8em;
    }
    @include mobile {
      font-size: 0.6em;
    }
    @include smallMobile {
      font-size: 0.6em;
    }
  }
}
.ModalInputs {
  @include flex($align: center, $direction: column);
  @include size($width: 100%);
  input, textarea{
    @include size($width: 50%);
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(193, 193, 193, 1);
    padding: 5px 6px;
    box-sizing: border-box;
  }
  span {
    justify-content: flex-start;
    text-align: left;
    width: 51%;
  }
  textarea {
    min-height: 20vh;
    margin: 8px 0px;
    color: rgba(115, 115, 115, 1);
    padding: 7px 15px;
    border-radius: 5px;
    outline: none;
  }
}

.InputGroupButton {
  @include size($width: 30%);
  z-index: 99;
}

.InputGroup {
  @include flex($justify: center);
  @include size($width: 75%, $height: 6vh);
  input {
    font-size: 1.05em;
  }
  span {
    font-size: 1.3em;
  }
  @include tablet {
    input {
      font-size: 0.8em;
    }
    span {
      font-size: 1.1em;
    }
  }
  @include mobile {
    @include size($width: 90%, $height: 5.3vh);
    input {
      font-size: 0.65em;
    }
    span {
      font-size: 1em;
    }
  }
  @include smallMobile {
    @include size($width: 90%, $height: 5.3vh);
    input {
      font-size: 0.45em;
    }
    span {
      font-size: 0.8em;
    }
  }
}
