@import "_mixins.scss";
@import "MediaQuery";

.Input{
  &Search{
    font-size: 1.05em;
    border: 1px solid rgba(0, 0, 0, .4);
    border-left: none;
    padding-left: 2%;
    font-size: 1.05em;
    width: 60%;

    @include tablet{
      font-size: 0.8em;
    }
    @include mobile{
      font-size: 0.6em;
    }
    @include smallMobile{
      font-size: 0.6em;
    }

  }
}
