@import "_mixins.scss";
@import "MediaQuery";
@import "_variables.scss";

.Logo {
	&-wide {
		@include size($height: 50%, $width: 10%);
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url("/images/tecnopuc4.png");
		@include tablet {
			justify-content: center;
		}
		@include mobile {
			@include size($height: 50%, $width: 20%);
			@include flex($align: center, $justify: center);
			margin: 0;
		}
		@include smallMobile {
			@include size($width: 20%);
		}
	}
	&-tall {
		@include size($height: 95%, $width: 3%);
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 0 5% 0% 2%;
		background-image: url("/images/puc4.png");
		@include tablet {
			@include size($height: 95%, $width: 3%);
			@include flex($justify: flex-end);
		}
		@include mobile {
			@include size($width: 5%);
			@include flex($align: center, $justify: center);
		}
		@include smallMobile {
			@include size($width: 7%, $height: 70%);
		}
	}

	.LogoCollaborators {
		@include size($width: 100%, $min-height: 30%);
		@include flex($align: center, $direction: row, $justify: space-around);
		flex-wrap: wrap;
	}
}
