@import "_mixins.scss";
@import "MediaQuery";
@import "_variables.scss";

.Logo {

	&-wide {
		@include size($height: 50%, $width: 10%);
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 10px;
		background-image: url("/images/tecnopuc4.png");
		@include tablet{
			height: 75%;
			width: 19%;
			justify-content: center;
			margin: 0;
		}
	}

	&-tall {
		@include size($height: 95%, $width: 3%);
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 0 5% 0% 2%;
		background-image: url("/images/puc4.png");
		@include tablet{
			width: 20%;
			justify-content: flex-end;
			margin: 0;
		}
	}

	.LogoCollaborators{
	  @include size($width: 100%, $min-height: 30%);
		@include flex($align: center, $direction: row, $justify: space-around);
		flex-wrap: wrap;
	}

}
