.Logo {

	&-wide {
		height: 50%;
		width: 10%;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 10px;
		background-image: url("/images/tecnopuc4.png");
	}

	&-tall {
		height: 95%;
		width: 3%;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 0 5% 0% 2%;
		background-image: url("/images/puc4.png");
	}


}
