@import "_variables.scss";

.ModalContact {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.ModalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 40%;
  text-align: center;
}
.Close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}
.Close:hover,
.Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 45%;
  height: 30%;
  margin: 8px 0px;
  font-style: italic;
  color: rgba(115,115,115,1);
  padding: 7px 15px;
  border-radius: 5px;
  outline: none;
}

.ModalHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  border-bottom: 1px solid #eceeef;
}

.ModalTitle {
  font-size: 1.3em;
  font-family: $font-style;
  font-weight: lighter;
}

.ModalBody {
  border-bottom: 1px solid #eceeef;
  height: 75%;
}

.ModalDescription {
  font-size: 0.9em;
  justify-content: center;
  font-family: $font-style;
  font-weight: lighter;
}

.ButtonClear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 0.7rem;
  border-radius: 100%;
  background-color: $light-blue-color;
  border: none;
}

.IconButtonClear {
  color: $white-font-color;
}
