@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery.scss";



.Navbar {
	@include size($width: 100%, $height: 8vh);
	@include flex($align: center, $direction: row, $justify: space-between);
	position: fixed;
	font-family: $font-style;
	font-weight: lighter;
	color: $white-font-color;
	@include tablet {
		@include flex($justify: center,  $direction: column);
		@include size($min-height: 14vh);
	}
	@include mobile {
		@include flex($justify: center,  $direction: column);
		@include size($min-height: 14vh);
	}
	@include smallMobile {
		@include flex($justify: center,  $direction: column);
		@include size($min-height: 14vh);
	}
}

.is-scrolling{
	@include blackGradient($alpha: 0.7);
}

.NavLogo {
	@include size($width: 50%, $height: 100%);
	@include flex($justify: flex-start,  $align: center);
	margin-left: 2%;

	@include tablet {
		@include size($width: 100%, $min-height: 50%);
		@include flex($justify: flex-start);
	}

	@include mobile {
		@include size($width: 100%, $min-height: 60%);
		@include flex($justify: flex-start);
	}

	@include smallMobile {
		@include size($width: 100%, $min-height: 20%);
		@include flex($justify: flex-start);
	}
}

.Hamburger {
	display: none;
	@include tablet {
		@include size($width: 33%, $height: 65%);
		display: block;
		margin-left: 5%;
	}

	@include mobile {
		@include size($width: 30%, $height: 65%);
		display: block;
		margin-left: 5%;
	}

	@include smallMobile {
		@include size($width: 26%, $height: 65%);
		display: block;
		margin-left: 5%;
	}
}

.LogoImage {
	@include size($width: 20%,$height: 83%);
	background-image: url("/images/logo.png");
	background-repeat: no-repeat;
	border-radius: 0;
	background-size: 100%;
	@include tablet {
		@include size($width: 18%, $height: 70%);
		@include flex($justify: center);
	}

	@include mobile {
		@include size($width: 26%, $height: 70%);
		@include flex($justify: center);
	}

	@include smallMobile {
		@include size($width: 35%, $height: 70%);
		@include flex($justify: center);
	}
}

.NavLinks {
	@include size($width:50%, $height:100%);
	@include flex($align: center, $direction: row, $justify: flex-end);
	list-style: none;
	margin: 0;
	color: $white-color;
	@include tablet {
		@include size($width: 90%, $min-height: 20%);
		display: none;
		justify-content: center;
		flex-direction: column;
		font-size: $large-font-size;
	}
	@include mobile {
		@include size($width: 90%, $min-height: 20%);
		display: none;
		flex-direction: column;
		justify-content: center;
		font-size: $small-font-size;
	}
	@include smallMobile {
		@include size($width: 100%, $min-height: 20%);
		display: none;
		flex-direction: column;
		justify-content: center;
		font-size: $small-font-size;
		padding: 0;
	}
	a {
		@include size($height:100%);
		text-decoration: none;
		font-size: $medium-font-size;
		color: $white-font-color;
		text-align: center;
		@include tablet {
			font-size: $small-font-size;
		}

		@include smallMobile {
			font-size: $small-font-size;
		}
		&:hover{
			text-decoration: none;
			color: $white-font-color;
		}
	}
	&.is-open {
		display: flex;
	}
	@include mobile {
		padding-right: 5%;
	}
	@include smallMobile {
		padding-right: 5%;
	}
	& a {
		text-decoration: none;
		font-size: 1.1em;
		color: $white-font-color;
		text-align: center;
		&:hover {
			color: $aqua-green-font-color;
			text-decoration: none;
			line-height: 1;
			border-bottom: 0.3vh solid;
		}
	}
}

.Link {
	@include size($width:24%, $height:60%);
	@include flex($align: center, $justify: center);
	text-decoration: none;
	flex-wrap: wrap;
	color: $white-color;
	@include tablet {
		@include size($width: 90%, $height: 10vh);
		border-top: 1px solid rgba(0,0,0,0.4);
	}

	@include mobile {
		@include size($width: 90%, $height: 10vh);
		border-top: 1px solid rgba(0,0,0,0.4);
	}

	@include smallMobile {
		@include size($width: 90%, $height: 10vh);
		border-top: 1px solid rgba(0,0,0,0.4);
		font-size: $medium-font-size;
	}
	&:hover {
		text-decoration: none;
		color: rgba(52, 73, 94, 1);
	}
	&:hover a {
		color: $white-font-color;
	}
}

.NavSearch{
	@include flex($direction: row, $justify: space-between);
	@include size($height: 60%, $width: 60%);
	@include mobile {
		@include flex($direction: column);
		@include size($width: 60%);
	}
	@include smallMobile {
		@include flex($align: center ,$direction: column);
		@include size($width: 60%);
	}
}
