@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery.scss";



.Navbar{
	@include size($width:100%, $height:12vh);
	@include flex($align: center, $justify: space-between,  $direction: row);
	@include blackGradient($alpha: 0.47);
	font-family: $font-style;
	font-weight: lighter;
	color: $white-font-color;
	@include tablet {
		@include flex($justify: center,  $direction: column);
		@include size($height: 14vh);
	}
	@include mobile {
		@include flex($justify: center,  $direction: column);
		@include size($height: 14vh);
	}
	@include smallMobile {
		@include flex($justify: center,  $direction: column);
		@include size($height: 14vh);
	}
}

.Hamburger {
	display: none;
	@include tablet {
		@include size($width: 5%);
		display: block;
	}

	@include mobile {
		@include size($width: 5%);
		display: block;
	}

	@include smallMobile {
		@include size($width: 5%);
		display: block;
	}
}

.LogoImage {
	@include tablet {
		@include size($width: 95%);
		@include flex($justify: center);
	}

	@include mobile {
		@include size($width: 95%);
		@include flex($justify: center);
	}

	@include smallMobile {
		@include size($width: 95%);
		@include flex($justify: center);
	}
}

.NavLinks{
	@include size($width:50%, $height:100%);
	@include flex($align: center, $direction: row, $justify: flex-end);
	list-style: none;
	margin: 0;
	color: $white-color;
	@include tablet {
		@include size($width: 90%, $min-height: 20vh);
		display: none;
		justify-content: center;
		flex-direction: column;
		font-size: 1.5em;
	}
	@include mobile {
		@include size($width: 90%, $min-height: 20vh);
		display: none;
		flex-direction: column;
		justify-content: center;
		font-size: 1.5em;
	}
	@include smallMobile {
		@include size($width: 100%, $min-height: 20vh);
		display: none;
		flex-direction: column;
		justify-content: center;
		font-size: 1.5em;
		padding: 0;
	}
}

.NavLogo{
	@include size($width:50%, $height:100%);
	@include flex($align: center, $justify: flex-start);
	margin-left: 3%;

	@include tablet{
		@include size($width:25%);
		@include flex($justify: center);
	}
	@include mobile {
		padding-right: 5%;
	}
	@include smallMobile {
		padding-right: 5%;
	}
	& a{
		text-decoration: none;
		font-size: 1.1em;
		color: $white-font-color;
		text-align: center;
		&:hover{
			text-decoration: none;
			color: $white-font-color;
		}
	}
}

.Link{
	@include size($width:24%, $height:60%);
	@include flex($align: center, $justify: center);
	text-decoration: none;
	flex-wrap: wrap;
	color: $white-color;
	@include tablet {
		@include size($width: 90%, $height: 10vh);
		border-top: 1px solid rgba(0,0,0,0.4);
	}

	@include mobile {
		@include size($width: 90%, $height: 10vh);
		border-top: 1px solid rgba(0,0,0,0.4);
	}

	@include smallMobile {
		@include size($width: 90%, $height: 10vh);
		border-top: 1px solid rgba(0,0,0,0.4);
		font-size: 1em;
	}
}

.Link:hover {
	@include blackGradient($alpha: 0.7);
	text-decoration: none;
	color: rgba(52, 73, 94, 1);
	font-size: 1.1em;
}

.Link:hover a {
	@include blackGradient($alpha: 0.7);
	color: $white-font-color;
	font-size: 1.1em;
}

.NavLinks a {
	text-decoration: none;
	font-size: 1.1em;
	color: $white-font-color;
	text-align: center;

	@include tablet {
		font-size: 0.9em;
	}

	@include smallMobile {
		font-size: 0.7em;
	}
}

.NavLinks a:hover{
	text-decoration: none;
	color: $white-font-color;
	&:hover{
		background-color: rgba(0,0,0,0.7);
		text-decoration: none;
		color: rgba(52, 73, 94, 1);
		font-size: 1.1em;
	}
}
