@import "_variables.scss";
@import "_mixins.scss";
@import "MediaQuery.scss";


.Section {
  @include size($width: 100%, $min-height: 94vh);
  @include flex($direction: column);
  background-image: url("/images/background-main-desktop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  @include tablet {
    background-image: url("/images/background-main-tablet.jpg");
  }
  @include mobile {
    background-image: url("/images/background-main-mobile.jpg");
  }
  @include smallMobile {
    background-image: url("/images/background-main-smallMobile.jpg");
  }
}

.SectionOpacity {
  @include blackGradient($alpha: 0.47);
  @include size($width: 100%, $height: 94vh);
  @include flex($direction: column);
  background-color: rgba(0,0,0,0.47);
}

.SectionBlack {
  @include blackGradient($alpha: 0.47);
  @include size($width: 100%, $min-height: 100vh);
}

.HowItWorks {
  @include size($width: 100%, $height: 95vh);
  @include flex($align: center, $direction: column, $justify: center);
  color: $white-font-color;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5),rgba(0,0,0,0.7), rgba(0,0,0,0.8),rgba(0,0,0,0.9) );
}

.Collaborators {
  @include size($width: 100%, $min-height: 97vh);
  @include flex($align: center, $direction: column, $justify: center);
  @include blackGradient($alpha: 0.8);
  background: rgba(0,0,0,0.8);
  @include smallMobile{
    @include size($min-height: 65vh);
  }
}

.About{
  @include size($width: 100%, $min-height: 97vh);
  @include flex($align: center, $direction: row, $justify: space-around);
  padding: 0;
  font-family: $font-style;
  font-weight: lighter;
  text-align: justify;
  background-color: $darker-blue-color;
  color: $white-font-color;
  @include smallMobile{
    @include size($min-height: 65vh);
  }
}

.SectionCards {
  @include size($width: 100%, $min-height: 75vh);
  @include flex($align: flex-start, $direction: row, $justify: space-around);
  padding: 0;
  flex-wrap: wrap;
  @include tablet{
    @include flex($align: center, $direction: column, $justify: center);
  }
  @include mobile{
    @include flex($align: center, $direction: column, $justify: center);
  }
  @include smallMobile{
    @include flex($align: center, $direction: column, $justify: center);
  }
  &.is-login{
    @include flex($align: center);
  }
}

.SectionSearch {
  @include size($width: 100%, $min-height: 100%);
  @include flex($align: center, $direction: column, $justify: center);
  padding: 0;
}

.SectionList {
  @include size($width: 100%, $min-height: 82vh);
  @include flex($align: center, $direction: column, $justify: flex-start);
  padding: 0;
}

.LogosList{
  @include size($width: 100%, $height: 100%);
  @include flex($align: center, $direction: column, $justify: space-around);
  flex-wrap: wrap;
}

.SectionLogin{
  @include flex($align: flex-end);
}
