@import "_variables.scss";
@import "_mixins.scss";
@import "MediaQuery.scss";


.Section {
  @include size($width: 100%, $min-height: 94vh);
  @include flex($direction: column);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $dark-grey-color;
  @include tablet {
    background-color: $dark-grey-color;
  }
  @include mobile {
    background-color: $dark-grey-color;
  }
  @include smallMobile {
    background-color: $dark-grey-color;
  }
}

.SectionOpacity {
  @include size($width: 100%, $height: 100%);
  @include flex($direction: column);
  // background-color: rgba(0,0,0,0.47);
}

.SectionBlack {
  @include blackGradient($alpha: 0.47);
  @include size($width: 100%, $min-height: 100vh);
}

.HowItWorks {
  @include size($width: 100%, $min-height: 48vh);
  @include flex($align: center, $direction: column, $justify: center);
  color: $white-color;
  background: $aqua-green-color;
}

.Collaborators {
  @include size($width: 100%, $min-height: 72vh);
  @include flex($align: center, $direction: column, $justify: center);

  @include smallMobile{
    @include size($min-height: 65vh);
  }
}

.About{
  @include size($width: 100%, $min-height: 62vh);
  @include flex($align: center, $direction: row, $justify: space-around);
    padding: 0;
    font-family: Lane;
    font-weight: lighter;
    text-align: justify;
    color: $white-color;
  @include smallMobile{
    @include size($min-height: 65vh);
  }
}

.SectionCards {
  @include size($width: 100%, $min-height: 76vh);
  @include flex($align: flex-start, $direction: row, $justify: space-around);
  padding: 0;
  flex-wrap: wrap;
  @include tablet{
    @include flex($align: center, $direction: column, $justify: center);
  }
  @include mobile{
    @include flex($align: center, $direction: column, $justify: center);
  }
  @include smallMobile{
    @include flex($align: center, $direction: column, $justify: center);
  }
  &.is-login {
    @include flex($align: center);
  }
}

.SectionSearch {
  @include size($width: 100%, $min-height: 100%);
  @include flex($align: center, $direction: column, $justify: center);
  padding: 0;
}

.SectionList {
  @include size($width: 100%, $min-height: 82vh);
  @include flex($align: center, $direction: column, $justify: flex-start);
  padding: 0;
}

.LogosList{
  @include size($width: 100%, $height: 100%);
  @include flex($align: center, $direction: column, $justify: space-around);
  flex-wrap: wrap;
}

.SectionLogin{
  @include flex($align: flex-end);
}
