.u-fontSizeSmall{
	font-size: 1em;
}

.u-fontSizeMedium{
	font-size: 1.3em;
}
.u-fontSizeLarge{
	font-size: 1.7em;
}
.u-fontSizeXLarge{
	font-size: 5em;
}
.u-fontFamilyLato{
  font-family: 'Lato', sans-serif;
}



.u-marginSmall{
	margin: 6px;
}
.u-marginLeft{
	margin-left: 10%;
}
.u-marginRight{
	margin-right: 0.1%;
}
.u-marginTop{
	margin-top: 1%;
}
.u-buttonColor{
  background-color: #3D8EB9;
}
.u-coloRed{
	background-color: #EB6361;
}
.u-coloRed:hover{
	box-shadow: 1px 1px 2px 2px #E26A6A;
	cursor: pointer;
}
.u-coloGreen{
	/*background-color: #64DDBB;*/
	background-color: #02af7e;
}
.u-coloGreen:hover{
	box-shadow: 1px 1px 2px 2px #36D7B7;
	cursor: pointer;
}
.u-coloBlue{
	background-color: #0faac3;
}
.u-coloBlue:hover{
	box-shadow: 1px 1px 2px 2px #6BB9F0;
	cursor: pointer;
}

.u-coloOrange{
	background-color: #EB9532;
}
.u-coloOrange:hover{
	box-shadow: 1px 1px 2px 2px #F4B350;
	cursor: pointer;
}

.u-coloRed1{
	color: #EB6361!important;
}
.u-coloGreen1{
	/*background-color: #64DDBB;*/
	color: #02af7e;
}
.u-coloBlue1{
	color: #0faac3;
}
.u-coloOrange1{
	color: #EB9532;
}
