@import "_variables.scss";
@import "MediaQuery";
@import "_mixins.scss";

.u-fontSizeXSmall {
	font-size: 0.8em;
}

.u-fontSizeSmall {
	font-size: 1em;
}

.u-fontSizeMediumSlogan {
	font-size: 1.3em;
	@include mobile {
		font-size: 1.5em;
	}
}

.u-fontSizeMedium {
	font-size: 1.3em;
	@include tablet {
		font-size: 1em;
	}
	@include mobile {
		font-size: 0.9em;
	}
	@include smallMobile {
		font-size: 0.8em;
	}
}

.u-fontSizeLarge {
	font-size: 1.7em;
	@include tablet {
		font-size: 1.5em;
	}
	@include mobile {
		font-size: 1.3em;
	}
	@include smallMobile {
		font-size: 1.1em;
	}
}

.u-fontSizeXLarge {
	font-size: 5em;
}

.u-fontFamilyLato {
	font-family: $font-style;
}

.u-fontWhite {
	color: $white-font-color;
}

.u-paddingTopMedium {
	padding-top: 3%;
}

.u-paddingTopSmall {
	padding-top: 1%;
}

.u-paddingBottomSmall {
	padding-bottom: 1%;
}

.u-marginSmall {
	margin: 6px;
}

.u-marginLeft {
	margin-left: 10%;
}
.u-marginLeftSmall {
	margin-left: 5%;
}

.u-marginLeftSmall {
	margin-left: 6%;

}
.u-marginLeftXSmall {
	margin-left: 2%;
}

.u-marginTop {
	margin-top: 1%;
}
.u-marginTopLarge {
	margin-top: 3%;
}

.u-marginBottom {
	margin-bottom: 1%;
}

.u-marginBottomMedium {
	margin-bottom: 5%;
}
.u-marginSidesAndBottom {
	margin: 0 2%;
	margin-bottom: 2%;
}

.u-lineHeightMedium{
	line-height: 1.7em;
}

.u-colorLightBlue {
	color: $light-blue-color;
}

.u-colorLightRed{
	color: $light-red-color;
}

.u-colorGreen{
	color: $aqua-green-color;
}

.u-colorOrange {
	color: $burnt-yellow-color;
}



.u-widthNone {
	width: 0%;
}

.u-widthMedium {
	width: 30%;
	margin: 5%;
	@include tablet {
		@include flex($align: center, $justify: center);
		width: 15%;
		height: 2.8em;
		line-height: 0.8em;
		font-size: 0.8rem;
		margin: 2em;
	}
	@include smallMobile {
		@include flex($align: center, $justify: center);
		height: 3em;
		margin: 1em;
		line-height: 1.3em;
		font-size: 0.5em;
	}
}

.u-colorGold {
	color: rgba(228, 181, 65, 1);
}
.u-colorRed {
	background-color: rgba(235, 99, 97, 1);
	&:hover {
		box-shadow: 1px 1px 2px 2px rgba(226, 106, 106, 1);
		cursor: pointer;
	}
}
.u-colorGreen {
	color: $aqua-green-color;
	&:hover {
		box-shadow: 1px 1px 2px 2px rgba(54, 215, 183, 1);
		cursor: pointer;
	}
}
.u-colorBlue {
	background-color: $light-blue-color;
	&:hover {
		box-shadow: 1px 1px 2px 2px rgba(107, 185, 240, 1);
		cursor: pointer;
	}
}

.u-colorOrange {
	color: $burnt-yellow-color;
	&:hover {
		box-shadow: 1px 1px 2px 2px rgba(244, 179, 80, 1);
		cursor: pointer;
	}
}

.u-rotateIcon {
	@include smallMobile {
		-webkit-transform: rotate(90deg);
	}
}

	.u-colorBackgroundOrange {
		background-color: $burnt-yellow-color;
		&:hover {
			box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(244, 179, 80,1);
			cursor: pointer;
		}
	}

	.u-colorBackgroundWhite{
		background-color: $white-color;
	}

	.u-colorBackgroundBlue{
		background-color: $blue-color;
		&:hover {
			box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(244, 179, 80,1);
			cursor: pointer;
		}
	}

	.u-colorBackgroundGreen{
		background-color: $aqua-green-color;
		&:hover {
			box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(100, 221, 187,1);
			cursor: pointer;
		}
	}

	.u-colorBackgroundRed {
		background-color: rgba(235, 99, 97, 1);
		&:hover {
			box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(226, 106, 106, 1);
			cursor: pointer;
		}
	}

	.u-widthMediumOnly {
		width: 30%;
	}

	.u-widthLarge {
		width: 90%;
	}
	.u-center{
		text-align: center;
	}

	.u-borderWhite {
		border: solid 2px;
	}

	.u-fontBold {
		font-weight: bold;
	}

	.u-gradientTransparentToBlack {
		background: linear-gradient(rgba(0,0,0,.47), rgba(0,0,0,.90));
	}

	.u-displayNone {
		display: none;
	}
