@import "_variables.scss";
@import "MediaQuery.scss";
@import "_mixins.scss";


.u-fontSizeXSmall {
	font-size: $small-font-size;
}

.u-fontSizeSmallMedium {
	font-size: $small-medium-font-size!important;
}

.u-fontSizeSmall {
	font-size: $medium-font-size;
}


.u-fontSizeMediumSlogan{
	font-size: $medium-font-size;
	@include mobile {
		font-size: $medium-font-size;
	}
}

.u-fontSizeMedium {
	font-size: $medium-font-size;
	@include tablet {
		font-size: $medium-font-size;
	}
	@include mobile {
		font-size: $small-font-size;
	}
	@include smallMobile {
		font-size: $small-font-size;
	}
}

.u-fontSizeLarge {
	font-size: $large-font-size;
	@include tablet {
		font-size: $medium-font-size;
	}
	@include smallMobile {
		font-size: $medium-font-size;
	}
}

.u-fontSizeXLarge {
	font-size: $x-large-font-size;
}

.u-fontFamilyLato {
	font-family: $font-style;
}

.u-fontWhite {
	color: $white-font-color;
}

.u-paddingTopMedium {
	padding-top: 3%;
}

.u-paddingTopSmall {
	padding-top: 1%;
}

.u-paddingBottomSmall {
	padding-bottom: 1%;
}

.u-marginXSmall {
	margin: 0.5%;
}

.u-marginSmall {
	margin: 1%;
}
.u-marginMedium {
	margin: 2%;
}
.u-marginLeft {
	margin-left: 10%;
}

.u-marginLeftSmall {
	margin-left: 5%;
}

.u-marginLeftSmall {
	margin-left: 6%;
}

.u-marginLeftXSmall {
	margin-left: 2%;
}

.u-marginTopNavbar{
	margin-top: 6%;
}

.u-marginTop {
	margin-top: 1%;
}

.u-marginNTop {
	margin-top: -1%;
}

.u-marginTopLarge {
	margin-top: 3%;
}

.u-marginBottom {
	margin-bottom: 1%;
}

.u-marginBottomMedium {
	margin-bottom: 5%;
}

.u-marginSidesAndBottom {
	margin: 0 2%;
	margin-bottom: 2%;
}

.u-lineHeightMedium {
	line-height: 1.7em;
}

.u-colorLightBlue {
	color: $light-blue-color;
}

.u-colorLightRed {
	color: $light-red-color;
}

.u-colorGold {
	color: rgba(228, 181, 65, 1);
}

.u-colorBackgroundWhite {
	background-color: $white-color;
}

.u-colorBackgroundOrange {
	background-color: $burnt-yellow-color;
}
.u-colorRed {
	color: $light-red-color;
}

.u-colorGreen {
	color: $aqua-green-color;
}

.u-colorBlue {
	color:  $light-blue-color;
}

.u-colorOrange {
	color: $burnt-yellow-color;
}

.u-colorWhite {
	color: $white-font-color;
}

.u-rotateIcon {
	@include smallMobile {
		-webkit-transform: rotate(90deg);
	}
}

.u-colorBackgroundOrange {
	background-color: $burnt-yellow-color;
	&:hover {
		box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(244, 179, 80,1);
		cursor: pointer;
	}
}
.u-colorBackgroundDarkerBlue {
	background-color: $darker-blue-color;
}

.u-widthNone {
	@include size($width: 0%);
}

.u-widthMedium {
	@include size($width: 30%);
	margin: 5%;
	@include tablet {
		@include size($height: 70%, $width: 15%);
		@include flex($justify: center,$align: center);
		margin: 1%;
		font-size: $medium-font-size;
		line-height: 0.8em;
	}

	@include smallMobile {
		@include flex($justify: center, $align: center);
		@include size($height: 35%, $width: 15%);
		margin: 1%;
		line-height: 1.3em;
		font-size: $small-font-size;
	}
}


.u-widthMediumOnly {
	@include size ($width: 30%);
}

.u-widthLarge {
	@include size ($width: 90%);
}

.u-colorGold{
	color: rgba(228, 181, 65, 1);
}

.u-colorBackgroundBlue {
	background-color: $blue-color;
	&:hover {
		box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(244, 179, 80,1);

		cursor: pointer;
	}
}

.u-colorBackgroundGreen {
	background-color: $aqua-green-color;
	&:hover {
		box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(100, 221, 187,1);
		cursor: pointer;
	}
}

.u-colorBackgroundRed {
	background-color: rgba(235, 99, 97, 1);
	&:hover {
		box-shadow: 0.07em 0.07em 0.14em 0.14em rgba(226, 106, 106, 1);
		cursor: pointer;
	}
}

.u-widthSmall {
	width: 5em;
}

.u-widthMediumOnly {
	@include size ($width: 30%);
}

.u-widthLarge {
	@include size ($width: 90%);
}

.u-widthMediumLarge {
	width: 80%;
}

.u-widthLarge {
	width: 90%;
}

.u-widthIcon {
	width: 24px;
}

.u-center {
	text-align: center;
}

.u-borderWhite {
	border: solid 2px;
}

.u-colorOrange{
	color: $burnt-yellow-color;
}

.u-colorOrange:hover{
	box-shadow: 1px 1px 2px 2px rgba(244, 179, 80, 1);
	cursor: pointer;
}

.u-center{
	text-align: center;
}

.u-rotateIcon{
	@include smallMobile{
		-webkit-transform: rotate(90deg);
	}
}

.u-fontBold {
	font-weight: bold;
}

.u-gradientTransparentToBlack {
	background: linear-gradient(rgba(0,0,0,.47), rgba(0,0,0,.90));
}

.u-gradientTransparent {
	background: rgba(0,0,0,.25);
}

.u-displayNone {
	display: none;
}

.u-textAlignLeft {
	text-align: left;
}

.u-textAlignRight {
	text-align: right;
}

.u-width3of4 {
	@include size($width: 75%);
}
.u-width1of4 {
	@include size($width: 25%);
}
