@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery";

.Icon {
  @include flex($align: center, $justify: center);
  @include size($height: 50%, $width: 40%);
  color: $white-font-color;
  background-color: $white-color;
  border-radius: 100%;
  @include tablet {
    @include size($height: 50%, $width: 50%);
  }

  @include mobile {
    @include size($height: 53%, $width: 60%);
  }

  @include smallMobile {
    @include size($height: 16vh, $width: 12vw);
  }
}

.Arrow {
  @include flex($align: center, $justify: center);
  @include size($height: 50%, $width: 5%);
  color: $white-color;
}
