@import "_mixins.scss";
@import "_variables.scss";
@import "MediaQuery.scss";

.CompetencesTitle{
  @include flex($align:flex-end, $justify:center);
  @include size($height: 5%, $width: 100%);
  margin-top: 5%;
  font-weight: bold;
  font-size: $medium-font-size;
  @include smallMobile {
      font-size: $large-font-size;
    }
  }

  .CardTitle {
    @include flex($justify: center);
    @include size($height: 100%, $width: 40%);
    font-size: $medium-font-size;
  }
