/* line 5, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundWhite {
  background-color: white;
}

/* line 9, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundOrange {
  background-color: #eb9532;
}
/* line 11, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundOrange:hover {
  box-shadow: 0.07em 0.07em 0.14em 0.14em #f4b350;
  cursor: pointer;
}

/* line 17, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundDarkerBlue {
  background-color: rgba(48, 89, 119, 0.93);
}

/* line 22, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundGreen {
  background-color: #02af7e;
}
/* line 24, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundGreen:hover {
  box-shadow: 0.07em 0.07em 0.14em 0.14em #64ddbb;
  cursor: pointer;
}

/* line 30, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundRed {
  background-color: #eb6361;
}
/* line 32, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundRed:hover {
  box-shadow: 0.07em 0.07em 0.14em 0.14em #e26a6a;
  cursor: pointer;
}

/* line 38, ../../sass/utilities/u-backgroundColor.scss */
.u-gradientTransparentToBlack {
  background: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.9));
}
