@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundWhite {
  background-color: white;
}

/* line 9, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundOrange {
  background-color: #eb9532;
}
/* line 11, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundOrange:hover {
  box-shadow: 0.07em 0.07em 0.14em 0.14em #f4b350;
  cursor: pointer;
}

/* line 17, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundGreen {
  background-color: #00a19a;
}
/* line 19, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundGreen:hover {
  box-shadow: 0.07em 0.07em 0.14em 0.14em #64ddbb;
  cursor: pointer;
}

/* line 25, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundRed {
  background-color: #eb6361;
}
/* line 27, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundRed:hover {
  box-shadow: 0.07em 0.07em 0.14em 0.14em #e26a6a;
  cursor: pointer;
}

/* line 33, ../../sass/utilities/u-backgroundColor.scss */
.u-colorBackgroundGray {
  background-color: #706f6f;
}

/* line 37, ../../sass/utilities/u-backgroundColor.scss */
.u-gradientTransparentToBlack {
  background: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.9));
}
