@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../../sass/utilities/u-color.scss */
.u-colorLightBlue {
  color: #0faac3;
}

/* line 9, ../../sass/utilities/u-color.scss */
.u-colorLightRed {
  color: #eb6361;
}

/* line 13, ../../sass/utilities/u-color.scss */
.u-colorGold {
  color: #e4b541;
}

/* line 17, ../../sass/utilities/u-color.scss */
.u-colorRed {
  color: #eb6361;
}

/* line 21, ../../sass/utilities/u-color.scss */
.u-colorGreen {
  color: #00a19a;
}

/* line 25, ../../sass/utilities/u-color.scss */
.u-colorBlue {
  color: #0faac3;
}

/* line 29, ../../sass/utilities/u-color.scss */
.u-colorOrange {
  color: #eb9532;
}

/* line 33, ../../sass/utilities/u-color.scss */
.u-colorWhite {
  color: white;
}
