@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../../sass/utilities/u-font.scss */
.u-fontSizeXSmall {
  font-size: 0.7em;
}

/* line 9, ../../sass/utilities/u-font.scss */
.u-fontSizeSmallMedium {
  font-size: 1em !important;
}

/* line 13, ../../sass/utilities/u-font.scss */
.u-fontSizeSmall {
  font-size: 1.3em;
}

/* line 16, ../../sass/utilities/u-font.scss */
.u-fontSizeLargeMedium {
  font-size: 1.5em;
}

/* line 20, ../../sass/utilities/u-font.scss */
.u-fontSizeMediumSlogan {
  font-size: 1.3em;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 20, ../../sass/utilities/u-font.scss */
  .u-fontSizeMediumSlogan {
    font-size: 1.3em;
  }
}

/* line 27, ../../sass/utilities/u-font.scss */
.u-fontSizeMedium {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 27, ../../sass/utilities/u-font.scss */
  .u-fontSizeMedium {
    font-size: 1.3em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 27, ../../sass/utilities/u-font.scss */
  .u-fontSizeMedium {
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 27, ../../sass/utilities/u-font.scss */
  .u-fontSizeMedium {
    font-size: 0.7em;
  }
}

/* line 40, ../../sass/utilities/u-font.scss */
.u-fontSizeLarge {
  font-size: 1.7em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 40, ../../sass/utilities/u-font.scss */
  .u-fontSizeLarge {
    font-size: 1.3em;
  }
}
@media (max-width: 499px) {
  /* line 40, ../../sass/utilities/u-font.scss */
  .u-fontSizeLarge {
    font-size: 1.3em;
  }
}

/* line 50, ../../sass/utilities/u-font.scss */
.u-fontFamilyLane {
  font-family: Lane;
}

/* line 54, ../../sass/utilities/u-font.scss */
.u-fontWhite {
  color: white;
}

/* line 58, ../../sass/utilities/u-font.scss */
.u-fontBold {
  font-weight: bold;
}
