/* line 5, ../../sass/utilities/u-font.scss */
.u-fontSizeXSmall {
  font-size: 0.7em;
}

/* line 9, ../../sass/utilities/u-font.scss */
.u-fontSizeSmallMedium {
  font-size: 1em !important;
}

/* line 13, ../../sass/utilities/u-font.scss */
.u-fontSizeSmall {
  font-size: 1.3em;
}

/* line 17, ../../sass/utilities/u-font.scss */
.u-fontSizeMediumSlogan {
  font-size: 1.3em;
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 17, ../../sass/utilities/u-font.scss */
  .u-fontSizeMediumSlogan {
    font-size: 1.3em;
  }
}

/* line 24, ../../sass/utilities/u-font.scss */
.u-fontSizeMedium {
  font-size: 1.3em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 24, ../../sass/utilities/u-font.scss */
  .u-fontSizeMedium {
    font-size: 1.3em;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 24, ../../sass/utilities/u-font.scss */
  .u-fontSizeMedium {
    font-size: 0.7em;
  }
}
@media (max-width: 499px) {
  /* line 24, ../../sass/utilities/u-font.scss */
  .u-fontSizeMedium {
    font-size: 0.7em;
  }
}

/* line 37, ../../sass/utilities/u-font.scss */
.u-fontSizeLarge {
  font-size: 1.7em;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 37, ../../sass/utilities/u-font.scss */
  .u-fontSizeLarge {
    font-size: 1.3em;
  }
}
@media (max-width: 499px) {
  /* line 37, ../../sass/utilities/u-font.scss */
  .u-fontSizeLarge {
    font-size: 1.3em;
  }
}

/* line 47, ../../sass/utilities/u-font.scss */
.u-fontSizeXLarge {
  font-size: 5em;
}

/* line 51, ../../sass/utilities/u-font.scss */
.u-fontFamilyLato {
  font-family: Lato, sans-serif;
}

/* line 55, ../../sass/utilities/u-font.scss */
.u-fontWhite {
  color: white;
}

/* line 59, ../../sass/utilities/u-font.scss */
.u-fontBold {
  font-weight: bold;
}
