@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
@media (max-width: 499px) {
  /* line 5, ../../sass/utilities/u-icon.scss */
  .u-rotateIcon {
    -webkit-transform: rotate(90deg);
  }
}

/* line 11, ../../sass/utilities/u-icon.scss */
.u-widthIcon {
  width: 24px;
}
