@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../../sass/utilities/u-margin.scss */
.u-marginXSmall {
  margin: 0.5%;
}

/* line 9, ../../sass/utilities/u-margin.scss */
.u-marginSmall {
  margin: 1%;
}

/* line 13, ../../sass/utilities/u-margin.scss */
.u-marginTop {
  margin-top: 1%;
}

/* line 17, ../../sass/utilities/u-margin.scss */
.u-marginTopLarge {
  margin-top: 3%;
}

/* line 21, ../../sass/utilities/u-margin.scss */
.u-marginTopXLarge {
  margin-top: 6%;
}
@media (min-width: 768px) and (max-width: 1190px) {
  /* line 21, ../../sass/utilities/u-margin.scss */
  .u-marginTopXLarge {
    margin-top: 15%;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  /* line 21, ../../sass/utilities/u-margin.scss */
  .u-marginTopXLarge {
    margin-top: 15%;
  }
}
@media (max-width: 499px) {
  /* line 21, ../../sass/utilities/u-margin.scss */
  .u-marginTopXLarge {
    margin-top: 15%;
  }
}

/* line 34, ../../sass/utilities/u-margin.scss */
.u-marginBottom {
  margin-bottom: 1%;
}

/* line 38, ../../sass/utilities/u-margin.scss */
.u-marginBottomMedium {
  margin-bottom: 5%;
}

/* line 42, ../../sass/utilities/u-margin.scss */
.u-marginSidesAndBottom {
  margin: 0 2%;
  margin-bottom: 2%;
}
