/* line 5, ../../sass/utilities/u-padding.scss */
.u-paddingTopMedium {
  padding-top: 3%;
}

/* line 9, ../../sass/utilities/u-padding.scss */
.u-paddingTopSmall {
  padding-top: 1%;
}

/* line 13, ../../sass/utilities/u-padding.scss */
.u-paddingBottomSmall {
  padding-bottom: 1%;
}
