@font-face {
  font-family: Lane;
  src: url("/fonts/LANENAR_.ttf");
}
/* line 5, ../../sass/utilities/u-size.scss */
.u-widthSmall {
  width: 5em;
}

/* line 9, ../../sass/utilities/u-size.scss */
.u-widthMedium {
  width: 30%;
}

/* line 13, ../../sass/utilities/u-size.scss */
.u-widthLarge {
  width: 80%;
}

/* line 17, ../../sass/utilities/u-size.scss */
.u-widthXLarge {
  width: 90%;
}

/* line 21, ../../sass/utilities/u-size.scss */
.u-width1of4 {
  width: 25%;
}

/* line 25, ../../sass/utilities/u-size.scss */
.u-width3of4 {
  width: 75%;
}

/* line 29, ../../sass/utilities/u-size.scss */
.u-lineHeightMedium {
  line-height: 1.7em;
}
