<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Liga - não responda.</title>
  </head>
  <body>
    <h1>Olá <%= email_data.to.name %></h1>
    <p>
      Este é um email automático enviado pelo Liga da Tecnopuc.
    </p>
    <p>
      Um usuário do site gostaria de entrar em contato com a sua empresa, veja os dados abaixo.
    </p>
    <p>
      <b>Nome:</b> <%= email_data.from.name %>
    </p>
    <p>
      <b>Email:</b> <%= email_data.from.email %>
    </p>
    <p>
      <b>Comentário:</b> <%= email_data.from.text %>
    </p>

    <p>Equipe Liga</p>
  </body>
</html>
