@import "../_variables.scss";
@import "../MediaQuery.scss";
@import "../_mixins.scss";

.u-rotateIcon {
	@include smallMobile {
		-webkit-transform: rotate(90deg);
	}
}

.u-widthIcon {
	width: 24px;
}

.u-cursorPointer {
  cursor: pointer;
}
