.u-marginXSmall {
	margin: 0.5%;
}

.u-marginSmall {
	margin: 1%;
}

.u-marginMedium {
	margin: 2%;
}

.u-marginLeft {
	margin-left: 10%;
}

.u-marginLeftSmall {
	margin-left: 5%;
}

.u-marginLeftSmall {
	margin-left: 6%;
}

.u-marginLeftXSmall {
	margin-left: 2%;
}

.u-marginTop {
	margin-top: 1%;
}

.u-marginTopLarge {
	margin-top: 3%;
}

.u-marginBottom {
	margin-bottom: 1%;
}

.u-marginBottomMedium {
	margin-bottom: 5%;
}

.u-marginSidesAndBottom {
	margin: 0 2%;
	margin-bottom: 2%;
}
