@import "../_variables.scss";
@import "../MediaQuery.scss";
@import "../_mixins.scss";

.u-paddingTopSmall {
	padding-top: 1%;
}

.u-paddingBottomSmall {
	padding-bottom: 1%;
}

.u-paddingTopMedium {
	padding-top: 2em;
	@include tablet {
		padding-top: 4em;
	}
	
	@include mobile {
		padding-top: 4em;
	}

	@include smallMobile {
		padding-top: 4em;
	}

}
