@import "../_variables.scss";
@import "../MediaQuery.scss";
@import "../_mixins.scss";

.u-center {
	text-align: center;
}

.u-textAlignLeft {
	text-align: left;
}

.u-textAlignRight {
	text-align: right;
}
