<section class="Section">
  <div class="SectionOpacity">
    <section class="About" id="About">
      <div class="ContentAbout">
        <div class="u-fontSizeLarge"><h1>Sobre Nós</h1></div>
        <p class="u-fontSizeMedium u-lineHeightMedium">A plataforma LIGA faz parte de uma estratégia institucional de Gestão da Inovação na PUCRS, a qual tem o intuito de:
          <ul class="u-fontSizeMedium u-lineHeightMedium">
            <li>Fomentar o surgimento de novos negócios dentro do ecossistema de inovação;</li>
            <li>Auxiliar na busca de recursos humanos e financeiros, em projetos inovadores de base científica e tecnológica;</li>
            <li>Ligar empresas, pessoas e saberes, processos e serviços, procurando potencializar ações voltadas à inovação, pesquisa e desenvolvimento.</li>
          </ul>
        </p>
      </div>
    </section>
    <section class="HowItWorks u-fontWhite" id="HowItWorks">
      <div class="u-fontSizeLarge u-fontFamilyLato"><h1>Como Funciona</h1></div>
      <div class="BowFlowHowItWorks">
        <div class="Container">
          <div class="BoxHowItWorks ">
            <div class="Icon">
              <i class="material-icons md-3  u-colorLightBlue">insert_drive_file</i>
            </div>
            <div class="Text u-textAlignCenter u-fontSizeSmall">
              <p class="BoxText">Você cadastra sua empresa no Conecta</p>
            </div>
          </div>
          <div class="Arrow">
            <i class="material-icons u-rotateIcon">arrow_forward</i>
          </div>
          <div class="BoxHowItWorks">
            <div class="Icon">
              <i class="material-icons md-3 u-colorLightRed">search</i>
            </div>
            <div class="Text u-textAlignCenter u-fontSizeSmall">
              <p class="BoxText">Procura recursos ou serviços</p>
            </div>
          </div>
          <div class="Arrow">
            <i class="material-icons u-rotateIcon">arrow_forward</i>
          </div>
          <div class="BoxHowItWorks">
            <div class="Icon">
              <i class="material-icons md-3 u-colorGreen">business</i>
            </div>
            <div class="Text u-textAlignCenter u-fontSizeSmall">
              <p class="BoxText">Encontra empresas fornecedoras</p>
            </div>
          </div>
          <div class="Arrow">
            <i class="material-icons u-rotateIcon">arrow_forward</i>
          </div>
          <div class="BoxHowItWorks">
            <div class="Icon">
              <i class="material-icons md-3 u-colorOrange">contact_mail</i>
            </div>
            <div class="Text u-textAlignCenter u-fontSizeSmall">
              <p class="BoxText">Você contata essa empresa ou o Conecta faz isso para você</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
