<section class="Section">
  <section class="About" id="About">
    <div class="ContentAbout">
      <div class="u-fontSizeLarge u-fontFamilyLane"><h1>Sobre nós</h1></div>
      <p class="u-fontSizeMedium u-lineHeightMedium">A plataforma Liga faz parte de uma estratégia institucional de Gestão da Inovação na PUCRS, a qual tem o intuito de:
        <ul class="u-fontSizeMedium u-lineHeightMedium">
          <li>Fomentar o surgimento de novos negócios dentro do ecossistema de inovação;</li>
          <li>Auxiliar na busca de recursos humanos e financeiros, em projetos inovadores de base científica e tecnológica;</li>
          <li>Conectar empresas, pessoas e saberes, processos e serviços, procurando potencializar ações voltadas à inovação, pesquisa e desenvolvimento.</li>
        </ul>
      </p>
    </div>
  </section>

  <section class="HowItWorks" id="HowItWorks">
    <div class="u-fontSizeLarge u-fontFamilyLane"><h1>Como funciona</h1></div>
    <div class="BowFlowHowItWorks">
      <div class="Container">
        <div class="BoxHowItWorks ">
          <div class="Icon">
            <i class="material-icons md-3  u-colorLightBlue">insert_drive_file</i>
          </div>
          <div class="Text u-textAlignCenter u-fontSizeSmall">
            <p class="BoxText">Você cadastra sua empresa no LIGA</p>
          </div>
        </div>
        <div class="Arrow">
          <i class="material-icons u-rotateIcon">arrow_forward</i>
        </div>
        <div class="BoxHowItWorks">
          <div class="Icon">
            <i class="material-icons md-3 u-colorLightRed">search</i>
          </div>
          <div class="Text u-textAlignCenter u-fontSizeSmall">
            <p class="BoxText">Procura recursos ou serviços</p>
          </div>
        </div>
        <div class="Arrow">
          <i class="material-icons u-rotateIcon">arrow_forward</i>
        </div>
        <div class="BoxHowItWorks">
          <div class="Icon">
            <i class="material-icons md-3 u-colorGreen">business</i>
          </div>
          <div class="Text u-textAlignCenter u-fontSizeSmall">
            <p class="BoxText">Encontra empresas fornecedoras</p>
          </div>
        </div>
        <div class="Arrow">
          <i class="material-icons u-rotateIcon">arrow_forward</i>
        </div>
        <div class="BoxHowItWorks">
          <div class="Icon">
            <i class="material-icons md-3 u-colorOrange">contact_mail</i>
          </div>
          <div class="Text u-textAlignCenter u-fontSizeSmall">
            <p class="BoxText">Você contata essa empresa ou o LIGA faz isso para você</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Collaborators u-fontWhite" id="Collaborators">
    <div class="u-fontSizeLarge u-fontFamilyLane"><h1>Colaboradores</h1></div>
    <p class="u-fontWhite u-fontSizeMedium u-textAlignCenter u-fontFamilyLane">LIGA é fruto do trabalho colaborativo de diferentes atores do ambiente de Inovação e Desenvolvimento da PUCRS, citando-se: </p>
    <div class="ContentCollaborators">

      <div class="LogosList">
        <div class="u-fontSizeMedium u-fontFamilyLane"><h3>REALIZADORES</h3></div>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/CentrodeInovacao//" target="_blank">
          <img class="u-marginSmall LogoDirectories" src="/images/logos_colaboradores/logo_CI.png">
        </a>
        <a href="https://www.thoughtworks.com/pt" target="_blank">
          <img class="u-marginSmall LogoDirectories" src="/images/logos_colaboradores/tw_logo.png">
        </a>
        <a href="http://www.pucrs.br/ffch/lab-geo/" target="_blank">
          <img class="u-marginSmall LogoDirectories" src="/images/logos_colaboradores/logo_ltig.png">
        </a>
      </div>

      <div class="LogosList">
        <div class="u-fontSizeMedium u-fontFamilyLane"><h3>APOIADORES</h3></div>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/Tecnopuc" target="_blank">
          <img class="u-marginSmall LogosSupporters" src="/images/logos_colaboradores/logo_tecnopuc.png">
        </a>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/raiar/" target="_blank">
          <img class="u-marginSmall LogosSupporters" src="/images/logos_colaboradores/logo_raiar.png">
        </a>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/Crialab" target="_blank">
          <img class="u-marginSmall LogosSupporters" src="/images/logos_colaboradores/logo_crialab.png">
        </a>
      </div>
    </div>

  </div>
</section>
</section>
