<section class="Section">
  <div class="SectionOpacity">
    <section class="About" id="About">
      <div class="ContentAbout">
        <div class="u-fontSizeLarge"><h1>Sobre</h1></div>
        <p class="u-fontSizeMedium u-lineHeightMedium">A plataforma Conecta faz parte de uma estratégia institucional de Gestão da Inovação na PUCRS, a qual tem o intuito de:
          <ul class="u-fontSizeMedium u-lineHeightMedium">
            <li>Fomentar o surgimento de novos negócios dentro do ecossistema de inovação;</li>
            <li>Auxiliar na busca de recursos humanos e financeiros, em projetos inovadores de base científica e tecnológica;</li>
            <li>Conectar empresas, pessoas e saberes, processos e serviços, procurando potencializar ações voltadas à inovação, pesquisa e desenvolvimento.</li>
          </ul>
        </p>
      </div>
    </section>
  </div>
</section>
