<h1>Capacidades</h1>
<% @competences.each do |competence| %>
<b>Nome:</b> <%= competence.name %><br>
<b>Ãrea:</b> <%= competence.competence_area.name %>
<br><br>
<% end %>

<% if @error != [] %>
<%= @error %>
<% end %>
