<nav class="Nav">
  <!-- <h1 class="NavLogo">Conecta</h1> -->
  <img src="http://poc-conecta.herokuapp.com/images/logo.png" alt="">
  <ul class="NavMenu">
    <a href="#"><li>Sobre</li></a>
    <a href="#"><li>Contato</li></a>
  </ul>
</nav>
