<nav class="Navbar">
  <div class="NavLogo">
    <div class="Hamburger" onclick="navToggle()">  <i class="material-icons md-hamburger">menu</i></div>
      <a  class="LogoImage" href="/" ></a>
    </div>
  </div>
  <ul class="NavLinks">
    <a class="Link" href="/about_us"><li>Sobre nós</li></a>
    <a class="Link" id="login" href="/admin"><i class="material-icons u-marginRightSmall">person_outline</i><li>Login</li></a>
  </ul>
</nav>
