<nav class="Navbar">
  <a href="/" class="NavLogo">
    <img src="images/logo.png" alt="">
  </a>
  <ul class="NavLinks">
    <a class="Link" href="/">Home</a>
    <a class="Link" href="/results">Empresas</a>
    <a class="Link" href="/research_centers">Estruturas de pesquisa</a>
    <a class="Link" href="/#About"><li>Sobre</li></a>
    <a class="Link" href="/#Function"><li>Como funciona</li></a>
  </ul>
</nav>
