<nav class="Nav">
  <a href="/">
    <img src="images/logo.png" alt="">
  </a>
  <ul class="NavMenu">
    <a href="/#About"><li>Sobre</li></a>
    <a href="/#Function"><li>Como funciona</li></a>
  </ul>
</nav>
