<nav class="Navbar">
  <div class="NavLogo">
    <div class="Hamburger">  <i class="material-icons md-hamburger">menu</i></div>
    <div class="LogoImage">
      <a href="/" >
        <img src="images/logo.png" alt="">
    </a>
  </div>
    </div>
  <ul class="NavLinks">
    <a class="Link" href="/#HowItWorks"><li>Como funciona</li></a>
    <a class="Link" href="/#About"><li>Sobre</li></a>
    <a class="Link" href="/#Collaborators"><li>Colaboradores</li></a>
  </ul>
</nav>
