  <br>
  <section class="SectionCards">

    <div class="Card">
      <div class="CompanyName"><h1>Ver empresas do TecnoPUC</h1></div>
      <br>
      <a href="/results">
        <button class="Button" type="button" name="button">Listar</button>
      </a>
    </div>

    <div class="Card">
    <div class="CompanyName"><h1>Ver estruturas de pesquisa do TecnoPUC</h1></div>
    <br>
    <a href="/research_centers">
      <button class="Button" type="button" name="button">Listar</button>
    </a>
  </div>

</section>

  <% if @error != [] %>
  <%= @error %>
  <% end %>
