<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/css/Button.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/Section.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/card.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <meta charset="utf-8">
  <title>Conecta</title>

  <style>
  .inputBusca{
    width: 105%;
    margin-right: 60px;
  }
  .radioButton{
  margin-left: 30px;
  margin-bottom: 10px;
  }
  </style>

</head>
<body>

  <section class="SectionCards">
    <div class="Card">
      <div class="CompanyName"><h1>Pesquise aqui...</h1></div>
      <br>

      <form action="/search_all" name="search">
        <input class="inputBusca" type="text" placeholder="Pesquisar..." name="value"/><br><br>
        <div class="radioButton">
          <input type="radio" name="search_type" value="empresa"> Empresa<br>
          <input type="radio" name="search_type" value="competencia"> Competência<br>
          <input type="radio" name="search_type" value="segmento"> Segmento<br>
          <input type="radio" name="search_type" value="centro-pesquisa">Centro de Pesquisa<br><br>
          <button class="Button" type="submit" name="button">Buscar</button>
        </div>

      </form>

    </div>

  </section>

</body>
</html>

<% if @error != [] %>
  <%= @error %>
  <% end %>
