<section class="Section">

  <section class="SectionLogoBusca">

    <div class="LogoHome"></div>

    <div class="ContentSearch">
      <form class="FormSearch" action="/search_all" name="search" onsubmit="return validateFilter()" id="searchFrom">
        <div class="Tooltip">
          <span id = "tooltipMessage" class="Tooltiptext">Selecione ao menos um campo de busca</span>
        </div>
        <div class="InputGroup">
          <input id="InputSearch" class="InputSearch" type="text" autocomplete="off" placeholder="Selecione o tipo de busca, e pesquise o que precisa..." name="value"/>
          <div class="Button u-textAlignCenter" onclick="validateFilter()">
            <a class="ButtonSearch">
              <span>Buscar</span><i class="material-icons u-marginSmall">search</i>
            </a>
          </div>
        </div>
        <div class="InputGroup u-justifyContentStart">
          <div class="BoxFilterBy">
            <div class="DropdownMenu">
              <div>
                <span class="u-fontBold u-marginBottom">Empresa</span><br>
                <label class="filterLabel"><input type="radio" class="requiredFilter" name="search_type" value="empresa"> <span class="u-fontSizeSmallMedium">Nome</span></label><br>
                <label><input type="radio" class="requiredFilter" name="search_type" value="competencia" > <span class="u-fontSizeSmallMedium">Competência</span></label><br>
                <label><input type="radio" class="requiredFilter" name="search_type" value="segmento" > <span class="u-fontSizeSmallMedium">Segmento</span></label><br>
              </div>
              <div>
                <span class="u-fontBold u-marginBottom">Estruturas de pesquisa</span><br>
                <label><input type="radio" class="requiredFilter" name="search_type" value="centro-pesquisa"> <span class="u-fontSizeSmallMedium">Nome</span></label><br>
                <label><input type="radio" class="requiredFilter" name="search_type" value="estrutura-pesquisa-competencia"> <span class="u-fontSizeSmallMedium">Competencia</span></label><br>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</section>
