<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conecta</title>
</head>
<body>
  <h1>Olá pessoal :D</h1>
  <br>
  <%= @company.name  %>
  <br>
  <%= @company.description  %>
  <br>
  <%= @company.size  %>

</body>
</html>
