<section class="Section">
  <div class="SectionOpacity">
    <div class="BoxText">
      <div class="TextExplanation">
        <div class="u-fontSizeMediumSlogan">  Quer expandir os seus empreendimentos?</div>
        <div> Encontre colaboradores adequados às suas necessidades no ecossistema de empresas do TecnoPuc</div>
      </div>
      <div class="LogosCredibility">
        <div class="Logo-wide"></div>
        <div class="Logo-tall"></div>
      </div>
    </div>
    <div class="BoxSearch">
      <section class="SectionSearch">
        <div class="TitleSearch u-fontSizeLarge">
          Encontre parcerias agora
        </div>
        <div class="ContentSearch">
          <form class="FormSearch" action="/search_all" name="search" id="searchFrom">
            <div class="InputGroup">
              <div class="BoxFilterBy">
                <button class="ButtonFilter" type="button" name="button">
                  <span class="u-fontSizeMedium"><span id="ReplaceFilter">Filtre por</span> <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </button>
                <div class="DropdownMenu">
                  <span class="u-fontBold u-marginBottom">Empresa</span><br>
                  <label class="filterLabel"><input type="radio" name="search_type" value="empresa" checked> <span class="u-fontSizeSmallMedium">Nome</span></label><br>
                  <label><input type="radio" name="search_type" value="competencia"> <span class="u-fontSizeSmallMedium">Competência</span></label><br>
                  <label><input type="radio" name="search_type" value="segmento"> <span class="u-fontSizeSmallMedium">Segmento</span></label><br>
                  <hr>
                  <span class="u-fontBold u-marginBottom">Estruturas de pesquisa</span><br>
                  <label><input type="radio" name="search_type" value="centro-pesquisa"> <span class="u-fontSizeSmallMedium">Nome</span></label><br>
                  <label><input type="radio" name="search_type" value="estrutura-pesquisa-competencia"> <span class="u-fontSizeSmallMedium">Competencia</span></label><br>
                </div>
              </div>
              <input id="InputSearch" class="InputSearch" type="text" placeholder="Selecione o tipo de busca, e pesquise o que precisa..." name="value"/>
              <div class="Button u-textAlignCenter" onclick="document.forms['search'].submit();">
                <a class="ButtonSearch">
                  <span>Buscar</span><i class="material-icons u-marginSmall">search</i>
                </a>
              </div>
            </div>
          </form>
        </div>
        <div class="NavSearch">
          <div class="Tag" onclick="location.href='/search_all?search_type=empresa'">
            <div class="TagTitle u-colorBackgroundGreen">
              <div class="BoxTextTitle">
                <i class="material-icons u-fontSizeMedium">work</i>
                <span class="u-fontSizeMedium u-marginSmall">Empresas</span>
              </div>
            </div>
          </div>
          <div class="Tag" onclick="location.href='/search_all?search_type=centro-pesquisa'">
            <div class="TagTitle u-colorBackgroundOrange">
              <div class="BoxTextTitle">
                <i class="material-icons u-fontSizeMedium">school</i>
                <span class="u-fontSizeMedium u-marginSmall">Estruturas de Pesquisa</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<section class="HowItWorks u-fontWhite" id="HowItWorks">
  <div class="u-fontSizeLarge u-fontFamilyLato"><h1>Como Funciona</h1></div>
  <div class="BowFlowHowItWorks">
    <div class="Container">
      <div class="BoxHowItWorks ">
        <div class="Icon">
          <i class="material-icons md-3  u-colorLightBlue">insert_drive_file</i>
        </div>
        <div class="Text u-textAlignCenter u-fontSizeSmall">
          <p class="BoxText">Você cadastra sua empresa no Conecta</p>
        </div>
      </div>
      <div class="Arrow">
        <i class="material-icons u-rotateIcon">arrow_forward</i>
      </div>
      <div class="BoxHowItWorks">
        <div class="Icon">
          <i class="material-icons md-3 u-colorLightRed">build</i>
        </div>
        <div class="Text u-textAlignCenter u-fontSizeSmall">
          <p class="BoxText">Procura recursos ou serviços</p>
        </div>
      </div>
      <div class="Arrow">
        <i class="material-icons u-rotateIcon">arrow_forward</i>
      </div>
      <div class="BoxHowItWorks">
        <div class="Icon">
          <i class="material-icons md-3 u-colorGreen">business</i>
        </div>
        <div class="Text u-textAlignCenter u-fontSizeSmall">
          <p class="BoxText">Encontra empresas fornecedoras</p>
        </div>
      </div>
      <div class="Arrow">
        <i class="material-icons u-rotateIcon">arrow_forward</i>
      </div>
      <div class="BoxHowItWorks">
        <div class="Icon">
          <i class="material-icons md-3 u-colorOrange">contact_mail</i>
        </div>
        <div class="Text u-textAlignCenter u-fontSizeSmall">
          <p class="BoxText">Você contata essa empresa ou o Conecta faz isso para você</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="About" id="About">
  <div class="ContentAbout">
    <div class="u-fontSizeLarge"><h1>Sobre</h1></div>
    <p class="u-fontSizeMedium u-lineHeightMedium">A plataforma Conecta faz parte de uma estratégia institucional de Gestão da Inovação na PUCRS, a qual tem o intuito de:
      <ul class="u-fontSizeMedium u-lineHeightMedium">
        <li>Fomentar o surgimento de novos negócios dentro do ecossistema de inovação;</li>
        <li>Auxiliar na busca de recursos humanos e financeiros, em projetos inovadores de base científica e tecnológica;</li>
        <li>Conectar empresas, pessoas e saberes, processos e serviços, procurando potencializar ações voltadas à inovação, pesquisa e desenvolvimento.</li>
      </ul>
    </p>
  </div>
</section>

<section class="Collaborators u-fontWhite" id="Collaborators">
  <div class="ContentAbout">
    <div class="u-fontSizeLarge u-fontFamilyLato"><h1>Colaboradores</h1></div>
    <p class="u-fontWhite u-fontSizeMedium u-textAlignCenter u-fontFamilyLato">A Conecta é fruto do trabalho colaborativo de diferentes atores do ambiente de Inovação e Desenvolvimento da PUCRS, citando-se: </p>

    <div class="ContentCollaborators">
      <div class="LogosList">
        <div class="u-fontSizeMedium u-fontFamilyLato"><h3>Realizadores</h3></div>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/CentrodeInovacao//" target="_blank">
          <img class="u-marginSmall LogoDirectories" src="/public/logos_colaboradores/logo_CI.png">
        </a>
        <a href="https://www.thoughtworks.com/pt" target="_blank">
          <img class="u-marginSmall LogoDirectories" src="/public/logos_colaboradores/logo_tw.png">
        </a>
        <a href="http://www.pucrs.br/ffch/lab-geo/" target="_blank">
          <img class="u-marginSmall LogoDirectories" src="/public/logos_colaboradores/logo_ltig.png">
        </a>
      </div>

      <div class="LogosList">
        <div class="u-fontSizeMedium u-fontFamilyLato"><h3>Apoiadores</h3></div>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/Tecnopuc" target="_blank">
          <img class="u-marginSmall LogosSupporters" src="/public/logos_colaboradores/logo_tecnopuc_branco.png">
        </a>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/raiar/" target="_blank">
          <img class="u-marginSmall LogosSupporters" src="/public/logos_colaboradores/logo_raiar.png">
        </a>
        <a href="http://www3.pucrs.br/portal/page/portal/inovapucrs/Capa/Crialab" target="_blank">
          <img class="u-marginSmall LogosSupporters" src="/public/logos_colaboradores/logo_crialab.png">
        </a>
      </div>
    </div>

  </div>
</section>
