<section class="Section">
  <div class="SectionOpacity">
    <div class="BoxText">
      <div class="TextExplanation">
        <div style="font-size: 1.4em;">  Quer expandir os seus negócios?</div>
        <div> Encontre parcerias adequadas às suas necessidades no ecossistema do TecnoPUC.</div>
      </div>
      <div class="LogosCredibility">
        <div class="LogoTecnopuc"><img src="/images/tecnopuc4.png" ></div>
        <div class="LogoPuc"><img src="/images/puc4.png" ></div>


      </div>
    </div>

    <div class="BoxSearch">

      <section class="SectionSearch">
        <div class="ContentSearch">

          <form class="form-search" action="/search_all" name="search">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn-filter" type="button" name="button">
                  <span class="text-filter">Filtre por <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </button>
                <div class="dropdown-menu">
                  <label class="filterLabel"><input type="radio" name="search_type" value="empresa" checked> Empresa</label><br>
                  <label><input type="radio" name="search_type" value="competencia"> Competência</label><br>
                  <label><input type="radio" name="search_type" value="segmento"> Segmento</label><br>
                  <hr>
                  <label><input type="radio" name="search_type" value="centro-pesquisa"> Estrutura de Pesquisa</label><br>
                  <label><input type="radio" name="search_type" value="area-pesquisa"> Área de Pesquisa</label><br>
                  <label><input type="radio" name="search_type" value="eixo-pesquisa"> Eixo Temático</label><br>
                  <label><input type="radio" name="search_type" value="project"> Projeto</label><br>
                </div>
              </div>
              <input class="inputBusca" type="text" placeholder="Ex: ThoughtWorks, Outsourcing..." name="value" autofocus/>
              <button class="btn-search" type="submit" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </section>



    </div>

  </div>

</section>




<section class="About" id="About">

  <div class="ContentAbout">
    <div class="CompanyName"><h1>Sobre</h1></div>
    <p>A plataforma Conecta faz parte de uma estratégia institucional de Gestão de Inovação na PUCRS, a qual pretende beneficiar o maior número de pessoas, no menor tempo viável, acelerando processos de conexão para a prospecção de recursos humanos e financeiros, em projetos de iniciação científica e tecnológica.</p>
    <p>A Conecta é fruto do trabalho colaborativo de diferentes atores do ecossistema TECNOPUC, citando-se: Pró-Reitoria de Pesquisa, Inovação e Desenvolvimento (PROPESQ), INOVAPUCRS, Agência de Gestão Tecnológica (AGT), Centro de Empreendedorismo (IDEAR), Centro de Inovação Microsoft, Thoughtworks e Laboratório de Tratamento de Imagens e Geoprocessamento (LTIG).</p>
  </div>

</section>

<section class="Function" id="Function">
  <div class="ContentFunction">
    <div class="Title"><h1>Como funciona</h1></div>
    <div class="CardContentF">
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #0faac3;">insert_drive_file</i>
        </div>
        <div class="Text">
          <p class="BoxText">Você cadastra sua empresa no Conecta</p>
        </div>
      </div>
      <div class="Arrow">
        <i class="material-icons">arrow_forward</i>
      </div>
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #EB6361;">build</i>
        </div>
        <div class="Text">
          <p class="BoxText">Procura recursos ou serviços</p>
        </div>
      </div>
      <div class="Arrow">
        <i class="material-icons">arrow_forward</i>
      </div>
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #02af7e;">business</i>
        </div>
        <div class="Text">
          <p class="BoxText">Encontra empresas fornecedoras</p>
        </div>
      </div>
      <div class="Arrow">
        <i class="material-icons">arrow_forward</i>
      </div>
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #EB9532;">contact_mail</i>
        </div>
        <div class="Text">
          <p class="BoxText">O conecta contata essa empresa para você</p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<script>
var btnFilter = document.querySelector('.btn-filter');
var menu = document.querySelector('.dropdown-menu');
var textFilter = document.querySelector('.text-filter');

btnFilter.onclick = function() {
  menu.classList.toggle('dropdown-menu-visible');
  btnFilter.classList.toggle('btn-filter-activated');
}

window.onclick = function(event) {
  if ((!event.target.matches('.btn-filter')) && (!event.target.matches('.dropdown-menu')) && (!event.target.matches('.text-filter')) && (!event.target.matches('.filterLabel'))) {
    menu.classList.remove('dropdown-menu-visible');
    btnFilter.classList.remove('btn-filter-activated');
  }
}
</script>
