  <br>

  <section class="SectionCardsHome">
    <div class="Card">
      <div class="CompanyName"><h1>Ver empresas do TecnoPUC</h1></div>
      <br>
      <a href="/results">
        <button class="Button" type="button" name="button">Listar</button>
      </a>
    </div>
    <div class="Card">
    <div class="CompanyName"><h1>Ver estruturas de pesquisa do TecnoPUC</h1></div>
    <br>
    <a href="/research_centers">
      <button class="Button" type="button" name="button">Listar</button>
    </a>
  </div>
</section>

<section class="About" id="About">
  <div class="CardContentA">
    <div class="ContentAbout">
      <div class="CompanyName"><h1>Sobre</h1></div>
      <p>A plataforma Conecta faz parte de uma estratégia institucional de Gestão de Inovação na PUCRS, a qual pretende beneficiar o maior número de pessoas, no menor tempo viável, acelerando processos de conexão para a prospecção de recursos humanos e financeiros, em projetos de iniciação científica e tecnológica.</p>
      <p>A Conecta é fruto do trabalho colaborativo de diferentes atores do ecossistema TECNOPUC, citando-se: Pró-Reitoria de Pesquisa, Inovação e Desenvolvimento (PROPESQ), INOVAPUCRS, Agência de Gestão Tecnológica (AGT), Centro de Empreendedorismo (IDEAR), Centro de Inovação Microsoft, Thoughtworks e Laboratório de Tratamento de Imagens e Geoprocessamento (LTIG).</p>
    </div>
  </div>
</section>

<section class="Function" id="Function">
  <div class="ContentFunction">
    <div class="Title"><h1>Como funciona</h1></div>
    <div class="CardContentF">
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #0faac3;">insert_drive_file</i>
        </div>
        <div class="Text">
          <p>Você cadastra sua empresa no Conecta</p>
        </div>
      </div>
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #EB6361;">build</i>
        </div>
        <div class="Text">
          <p>Procura recursos ou serviços</p>
        </div>
      </div>
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #02af7e;">business</i>
        </div>
        <div class="Text">
          <p>Encontra empresas fornecedoras</p>
        </div>
      </div>
      <div class="BoxFunctions">
        <div class="Icon">
          <i class="material-icons" style="font-size: 3em; color: #EB9532;">contact_mail</i>
        </div>
        <div class="Text">
          <p>O conecta contata esssa empresa para você</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <% if @error != [] %>
  <%= @error %>
  <% end %>
