
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conecta</title>
</head>
<body>
  <h1>Olá pessoal :D</h1>
  <br>
  <input class="search-field" type="Oi" name="Olá" value="Hello">
  <button class="button-primary" type="button" name="button"></button>

<% if @error != [] %>
<%= @error %>
<% end %>
