<h1>Olá pessoal :D</h1>
<br>
<input class="search-field" type="Oi" name="Olá" value="Hello">
<button class="button-primery" type="button" name="button"></button>

<% if @error != [] %>
<%= @error %>
<% end %>
