<section class="Section">
  <div class="SectionOpacityHome">

    <div class="BoxSearch">
      <section class="SectionSearch">
        <div class="TitleSearch u-fontSizeLarge">
          Encontre parcerias agora
        </div>
        <div class="ContentSearch">
          <form class="FormSearch" action="/search_all" name="search" id="searchFrom">
            <div class="InputGroup">
          <input id="InputSearch" class="InputSearch" type="text" placeholder="Selecione o tipo de busca, e pesquise o que precisa..." name="value"/>
          <div class="Button u-center" onclick="document.forms['search'].submit();">
            <a class="ButtonSearch">
              <i class="material-icons u-marginSmall">search</i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
</div>
</section>
