<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conecta</title>
  <link rel="stylesheet" href="/stylesheets/css/card.css">
  <link href="/stylesheets/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/teste.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/Button.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/Section.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/card.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/About.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/css/Function.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/Nav.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <%= erb :header %>
  <%= yield %>
</body>
</html>
