<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conecta</title>
    <link rel="stylesheet" href="/stylesheets/css/card.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
