<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conecta</title>
  <link rel="stylesheet" href="/public/Card.css">
  <link href="/public/Button.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <link href="/public/Section.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/public/Card.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/public/Box.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/public/List.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/public/Box.css">
  <link rel="stylesheet" href="/public/Button.css">
  <link rel="stylesheet" href="/public/Default.css">
  <link rel="stylesheet" href="/public/Dropdown.css">
  <link rel="stylesheet" href="/public/Input.css">
  <link rel="stylesheet" href="/public/Logos.css">
  <link rel="stylesheet" href="/public/Navbar.css">
  <link rel="stylesheet" href="/public/utilities/u-backgroundColor.css">
  <link rel="stylesheet" href="/public/utilities/u-size.css">
  <link rel="stylesheet" href="/public/utilities/u-color.css">
  <link rel="stylesheet" href="/public/utilities/u-display.css">
  <link rel="stylesheet" href="/public/utilities/u-font.css">
  <link rel="stylesheet" href="/public/utilities/u-icon.css">
  <link rel="stylesheet" href="/public/utilities/u-margin.css">
  <link rel="stylesheet" href="/public/utilities/u-padding.css">
  <link rel="stylesheet" href="/public/utilities/u-textAlign.css">
  <link rel="stylesheet" href="/public/Default.css">
  <link rel="stylesheet" href="/public/Modal.css">
  <link rel="stylesheet" href="/public/Login.css">
  <link href="/public/Footer.css" media="screen, projection" rel="stylesheet" type="text/css" />


  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://use.fontawesome.com/3f86ba9d74.js"></script>
</head>
<body>
  <button onclick="scrollBackToTop()" id="backToTopButton" class="ButtonBack" title="Voltar ao topo">
    <i class="material-icons">arrow_upward</i>
  </button>
  <button onclick="scrollBackToTop()" id="backToTopButton" class="ButtonBack" title="Voltar ao topo">
    <i class="material-icons">arrow_upward</i>
  </button>
<section class="Section">
  <!-- <section class="SectionOpacity"> -->
  <%= erb :header_admin %>
  <%= yield %>
</section>
<%= erb :footer %>
<script type="text/javascript" src="/public/register.js"></script>
<script type="text/javascript" src="/public/expand_cards.js"></script>
<script type="text/javascript" src="/public/search_filter.js"></script>
<script type="text/javascript" src="/public/modal_contact.js"></script>
<script type="text/javascript" src="/public/btn_back_to_top.js"></script>
<script type="text/javascript" src="/public/login.js"></script>
<script type="text/javascript" src="/public/jquery_ajax.js"></script>

</body>
</html>
