<section class="SectionSearch u-fontFamilyLato">
  <h2>Listagem das Instiruições Cadastradas</h2>
  <div class="ContentCardList">
    <% @institution.each do |institution| %>

    <div class="CardList">
      <h2> <%= institution.name %> </h2>
    </div>
    <%end%>
  </div>
</section>
