<section class="SectionCards u-marginTopMedium">
  <div class="CardLogin">
    <div class="LoginHeader">
      <h1 class="u-fontFamilyLato u-fontSizeMedium">Login Admin</h1>
    </div>
    <div class="LoginBody LoginInputs">
      <span>Nome de usuário:</span>
      <input type="text" class="InputLogin u-marginTop u-marginBottomMedium" placeholder="Nome de usuário" autofocus>
      <span>Senha de acesso:</span>
      <input type="password" class="InputLogin u-marginTop u-marginBottomMedium" placeholder="Senha de acesso">
    </div>
    <div class="LoginFooter">
      <button type="button" class="Button ButtonSend">Entrar</button>
      <a href="#" class="u-marginTop u-fontSizeXSmall">Esqueceu sua senha?</a>
    </div>
  </div>
</section>
