<section class="SectionCards SectionLogin">
  <form class="Card is-login" id="LoginForm" action="/session" method="post" onload="onLoadLogin">
    <div class="LoginHeader">
      <h1 class="u-fontFamilyLato u-fontSizeMedium">Login</h1>
    </div>
    <div class="LoginBody LoginInputs">
      <span>Email:</span>
      <input type="text" id="email" name="email"  class="InputLogin u-marginTop u-marginBottomMedium" placeholder="Nome de usuário" autofocus>
      <span>Senha:</span>
      <input type="password" id="password" name="password" onkeyup="testEnter(event)" class="InputLogin u-marginTop u-marginBottomMedium" placeholder="Senha de acesso">
    </div>
    <div class="LoginFooter">
      <button type="button" id="LoginButton" onclick="login()" class="Button ButtonSend">Entrar</button>
      <a href="#" class="u-marginTop u-fontSizeXSmall">Esqueceu sua senha?</a>
      <div id="LoginMessage">

      </div>
    </div>
  </form>
</section>
