<div class="ModalContact" id="ModalContact">

  <div class="ModalContent">
    <span class="Close" onclick="closeModal();">&times;</span>
    <h1>Contato pela plataforma</h1>
    <h3>Escreva sua mensagem no campo abaixo</h3>

    <textarea autofocus onfocus="this.innerHTML = this.innerHTML;" id="ModalMessage">
      Tenho interesse em realizar uma parceria com sua empresa.
    </textarea>

  </div>

</div>
