<div class="ModalContact" id="ModalContact">
  <div class="ModalContent">

    <div class="ModalHeader">
      <span class="ModalTitle">Contato pela plataforma</span>
      <span class="Close" onclick="closeModal();">&times;</span>
    </div>

    <div class="ModalBody">
      <h3 class="ModalDescription">Escreva sua mensagem no campo abaixo</h3>
      <div class="ModalInputs">
        <span class="u-marginBottom">Nome: </span>
        <input class="u-marginBottom" type="text" name="" value="" placeholder="Escreva seu nome aqui">
        <span class="u-marginBottom">Email: </span>
        <input class="u-marginBottom" type="text" name="" value="" placeholder="Escreva seu e-mail aqui">
        <span class="u-marginBottom">Para: </span>
        <input class="u-marginBottom" type="text" name="" value="" id="ContactCompany" disabled="true">
      </div>


      <div class="BoxTextArea">
        <textarea autofocus onfocus="this.innerHTML = this.innerHTML;" id="MessageModal"></textarea>
        <div class="BoxClear">
          <button class="ButtonClear" type="button" name="button" onclick="deleteMessage()"><i class="material-icons md-1-4 u-marginSmall IconButtonClear">edit</i></button>
        </div>
      </div>
    </div>

    <div class="ModalFooter">
      <div class="BoxButtonCard u-marginLeftSmall">
        <div class="Button ButtonSend u-widthMedium" id="SendEmail">
          enviar
        </div>
      </div>
    </div>

  </div>
</div>
