<section class="Section">
  <section class="SectionLogoBusca">

    <div class="NotFound u-fontSizeLarge u-fontFamilyLane u-fontWhite ">
      <h1>

        404 - 

        Não foi possivel

      </h1>

      <img style="width 75px; height: 75px;" src="/images/logonotfound.png" alt="">

      <h1>

        a pagina desejada.

      </h1>

    </div>

  </section>
</section>
