<section class="SectionCards u-marginTopLarge">
  <form class="BoxRegister BoxRegisterLarger" id="LoginForm" action="/session" method="post" onload="onLoadLogin">

    <div class="LoginHeader">
      <h1 class="u-fontFamilyLato u-fontSizeMedium">Negócio da instituição</h1>
    </div>

    <div class="BoxSteps">
      <a class="Button u-marginSmall u-widthSmall" href="/admin/register">1</a>
      <a class="Button u-marginSmall u-widthSmall" href="/admin/register/2">2</a>
      <a class="Button u-marginSmall u-widthSmall" href="/admin/register/3">3</a>
    </div>


    <div class="BoxRegisterBody">
      <h2>Segmentos</h2>

      <div class="BoxSegments">
        <%@segment.each do |segment|%>

        <p class="u-marginXSmall">
          <input type="checkbox" id="<%='Segment'"#{segment.id}"%>"/>
          <label for="<%='Segment'"#{segment.id}"%>"><%=segment.name%></label>
        </p>


        <%end%>
      </div>

      <h2>Competências</h2>




      <div class="CompanyCompetences">
        <div class="CompetencesTitle">Demais competências</div>
        <% @competence_areas.each do |competence_area| %>
        <%= competence_area.name %>
        <% end %>


      </div>







    </div>

    <div class="RegisterFooter u-marginSidesAndBottom">
      <button class="Button" type="button" name="button">Cadastrar</button>
    </div>

  </form>
</section>
