<div class="RegisterInputs">
  <% if @is_company %>
  <span> Nome da empresa (nome fantasia) <b class="u-colorRed">*</b></span>
  <% else %>
  <span> Nome da estrutura de pesquisa <b class="u-colorRed">*</b></span>
  <% end %>
  <input type="text" name="institution_name" value="" class="required">
</div>
<div class="RegisterInputs">
  <span> E-mail para login <b class="u-colorRed">*</b></span>
  <input type="text" name="user_email" value="" class="required">
</div>
<% if @is_company %>
<div class="RegisterInputs">
  <span> CNPJ</span>
  <input type="text" name="institution_cnpj" value="">
</div>
<% end %>
<div class="RegisterInputs">
  <span> Senha <b class="u-colorRed">*</b></span>
  <input type="text" name="user_password" value="" class="required">
</div>  <div class="RegisterInputs">
  <span> Confirmar Senha <b class="u-colorRed">*</b></span>
  <input type="text" name="user_password2" value="" class="required">
</div>
