<section class="SectionCards u-marginTopLarge">
  <form class="BoxRegister" id="LoginForm" action="/session" method="post" onload="onLoadLogin">

    <div class="LoginHeader">
      <h1 class="u-fontFamilyLato u-fontSizeMedium">Cadastro Empresa</h1>
    </div>

    <div class="BoxSteps">
      <a class="Button u-marginSmall" href="/admin/register">1</a>
      <a class="Button u-marginSmall" href="/admin/register/2">2</a>
      <a class="Button u-marginSmall" href="/admin/register/3">3</a>
    </div>


    <div class="BoxRegisterBody">
      <div class="RegisterInputs">
        <span> Nome:</span>
        <input type="text" name="" value="">
      </div>
      <div class="RegisterInputs">
        <span> CNPJ:</span>
        <input type="text" name="" value="">
      </div>  <div class="RegisterInputs">
        <span> Senha:</span>
        <input type="text" name="" value="">
      </div>  <div class="RegisterInputs">
        <span> Confirmar Senha:</span>
        <input type="text" name="" value="">
      </div>
    </div>

    <div class="RegisterFooter u-marginSidesAndBottom">
      <button class="Button ButtonSend" type="button" name="button">Próximo</button>
    </div>

  </form>
</section>
