<div class="RegisterInputs">
  <span> Nome do contato</span>
  <input type="text" name="contact_name" value="">
</div>
<div class="RegisterInputs">
  <span> E-mail do contato<b class="u-colorRed">*</b></span>
  <input type="text" name="contact_email" value="" class="required">
</div>
<div class="RegisterInputs">
  <span> Nome do outro contato</span>
  <input type="text" name="secondary_contact_name" value="">
</div>
<div class="RegisterInputs">
  <span> E-mail alternativo</span>
  <input type="text" name="secondary_email" value="">
</div>
<div class="RegisterInputs">
  <span> Telefone</span>
  <input type="text" name="contact_phone" value="">
</div>
<div class="RegisterInputs">
  <span> Site</span>
  <input type="text" name="contact_site" value="">
</div>
<div class="RegisterInputs">
  <span> Logo URL</span>
  <input type="text" name="institution_logo" value="">
</div>
<div class="RegisterInputs">
  <span> Endereço</span>
  <input type="text" name="institution_address" value="">
</div>

<div class="RegisterInputs">
  <span> Descrição</span>
  <textarea name="institution_description"> </textarea>
</div>
