<h1>Empresas</h1>
<a href="/" style="float: right; margin-right: 30px; margin-top: -50px; font-size: 24px;">Voltar</a>
<section class="SectionCards">
<% @companies.each do |company| %>

<div class="Card">
<div class="CompanyName"><h1> <%= company.name %></h1></div>


<div class="CompanyDescription">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</div>

<div class="CompanyCompetences">

<% @company_competences = @competences_by_company[company]%>

<% if @company_competences != nil %>
  <div class=" CompetencesTitle">
    <h3>Competências</h3>
  </div>

  <ul class="CompetenceList">

  <%   @company_competences.each_key do |competence_area| %>
    <li class="Itens"><%= competence_area %></li>
    <ul class="Subitens">
      <%  @company_competences[competence_area].each do |comp| %>

      <li><%= comp %></li>
      <% end %>
    </ul>

    <% end %>

  </ul>

  <% end %>



</div>


</div>



<% end %>
</section>
<% if @error != [] %>
<%= @error %>


<% end %><br>


<script>
let itens = document.getElementsByClassName('Itens');
let subitens = document.getElementsByClassName('Subitens');
for(let i = 0; i < itens.length; i++) {
  itens[i].addEventListener("click", function(){
    if(subitens[i].style.display == 'none') {
      subitens[i].style.display = 'block';
      itens[i].style.color = 'rgba(52, 73, 94,0.8)';
    } else {
      subitens[i].style.display = 'none';
      itens[i].style.color = 'black';
    }
  });
}
</script>
