<div class="u-gradientTransparentToBlack">
  <h1 class="u-fontFamilyLato u-fontSizeLarge u-marginLeftXSmall u-marginTopXLarge u-fontWhite"><%= @search_description %></h1>
  <h3 class="u-fontFamilyLato u-fontSizeMedium u-marginLeft u-fontWhite">
    <% if @institution.length == 0 %>
    <br>Nenhum resultado encontrado
    <% end %>
  </h3>
  <section class="SectionCards">
    <% if @search_type == 'segmento' or @search_type == 'competencia' or @search_type == 'empresa' %>
    <%= erb :companies %>
    <% elsif @search_type == 'centro-pesquisa'or @search_type == 'estrutura-pesquisa-competencia'%>

    <%= erb :research_centers %>
    <% end %>
  </section>
</div>
<script src="/public/break_links.js"></script>
