<div class="u-gradientTransparentToBlack">
  <h1 class="u-fontFamilyLane u-fontSizeLarge u-marginLeftXSmall u-marginTopXLarge u-fontWhite"><%= @search_description %></h1>
  <h3 class="u-fontFamilyLane u-fontSizeMedium u-marginLeft u-fontWhite">
    <% if @institution.length == 0 %>
    <br>Nenhum resultado encontrado
    <% end %>
  </h3>
  <section class="SectionCards">

    <% if @institution.length == 0 %>
    <br>Nenhum resultado encontrado
    <% end %>
  <section class="SectionCards">
    <%= erb :institution_card %>
  </section>
</div>
<script src="js/break_links.js"></script>
