<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conecta</title>
</head>
<body>
  <h1>Lista de Empresas</h1>
  <br>
  <div class="instituionName">
    ThoughtWorks
  </div>
  <div class="instituionArea">
Center Tech
  </div>
Lista de Empresas
  <% if @error != [] %>
  <%= @error %>
  <% end %>

</body>
</html>
